html, body {
     height: 100%;
}
.body {
     position: relative;
     min-height: 100%;
}
.main {
     padding-bottom: 120px !important;
}
footer {
     position: absolute;
     bottom: 0;
     width: 100%;
}
@font-face {
     font-family: 'h.h._samuelregular';
     font-weight: normal;
     font-style: normal;
     src: url('fonts/h.h._samuel-font-defharo-webfont.eot');
     src: url('fonts/h.h._samuel-font-defharo-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/h.h._samuel-font-defharo-webfont.woff') format('woff'), url('fonts/h.h._samuel-font-defharo-webfont.ttf') format('truetype'), url('fonts/h.h._samuel-font-defharo-webfont.svg#h.h._samuelregular') format('svg');
}
body, p, pre, a, h1, h2, h3, h4, h5, h6, input, select, textarea {
     font-family: 'h.h._samuelregular' !important;
     text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5, h6, p, pre, ul, ol {
     list-style: none;
}
::active, ::focus {
     outline: 0;
}
.tab-bar {
     margin-bottom: 40px;
     background: #6fb243;
     background: -moz-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, #6fb243), color-stop(30%, #56a243), color-stop(100%, #2e9041));
     background: -webkit-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: -o-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: -ms-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: linear-gradient(to bottom, #6fb243 0%, #56a243 30%, #2e9041 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fb243', endColorstr='#2e9041', GradientType=0)
}
.left-off-canvas-menu {
     background: #6fb243;
     background: -moz-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, #6fb243), color-stop(30%, #56a243), color-stop(100%, #2e9041));
     background: -webkit-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: -o-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: -ms-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: linear-gradient(to bottom, #6fb243 0%, #56a243 30%, #2e9041 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fb243', endColorstr='#2e9041', GradientType=0)
}
ul.off-canvas-list li label {
     font-size: 17px;
     font-weight: normal;
     text-align: center;
     color: #fff;
     border-top: 1px solid #fff;
     background: #f68a42;
     background: -moz-linear-gradient(top, #f68a42 0%, #f1601d 30%, #ec4310 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, #f68a42), color-stop(30%, #f1601d), color-stop(100%, #ec4310));
     background: -webkit-linear-gradient(top, #f68a42 0%, #f1601d 30%, #ec4310 100%);
     background: -o-linear-gradient(top, #f68a42 0%, #f1601d 30%, #ec4310 100%);
     background: -ms-linear-gradient(top, #f68a42 0%, #f1601d 30%, #ec4310 100%);
     background: linear-gradient(to bottom, #f68a42 0%, #f1601d 30%, #ec4310 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f68a42', endColorstr='#ec4310', GradientType=0)
}
ul.off-canvas-list li a {
     font-weight: normal;
     color: #fff;
     border-bottom: 1px solid #e2e2e2;
}
ul.off-canvas-list li a:hover {
     opacity: .9;
     background: rgb(52, 182, 67);
}
.left-small {
     border-right: none;
}
::-webkit-input-placeholder {
     color: #666;
}
:-moz-placeholder {
     color: #666;
}
::-moz-placeholder {
     color: #666;
}
:-ms-input-placeholder {
     color: #666;
}
.block {
     padding: 25px 0;
}
.mb {
     margin-bottom: 20px;
}
.top {
     margin-bottom: 40px;
     background: #6fb243;
     background: -moz-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, #6fb243), color-stop(30%, #56a243), color-stop(100%, #2e9041));
     background: -webkit-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: -o-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: -ms-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: linear-gradient(to bottom, #6fb243 0%, #56a243 30%, #2e9041 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fb243', endColorstr='#2e9041', GradientType=0)
}
.social-top {
     float: right;
     margin: 0;
}
.social-top i {
     font-size: 26px;
     color: #fff;
}
.header section {
     position: relative;
}
h1.logo {
     position: absolute;
     z-index: 9999;
     top: -75px;
}
h1.logo img {
     z-index: 100;
     height: 200px;
}
ul.menu {
     overflow: hidden;
     margin: 0 0 0 20px;
     padding: 10px 15px 10px 200px;
     list-style: none;
     text-align: center;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     border-radius: 50px;
     background: #f68a42;
     background: -moz-linear-gradient(top, #f68a42 0%, #f1601d 30%, #ec4310 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, #f68a42), color-stop(30%, #f1601d), color-stop(100%, #ec4310));
     background: -webkit-linear-gradient(top, #f68a42 0%, #f1601d 30%, #ec4310 100%);
     background: -o-linear-gradient(top, #f68a42 0%, #f1601d 30%, #ec4310 100%);
     background: -ms-linear-gradient(top, #f68a42 0%, #f1601d 30%, #ec4310 100%);
     background: linear-gradient(to bottom, #f68a42 0%, #f1601d 30%, #ec4310 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f68a42', endColorstr='#ec4310', GradientType=0)
}
ul.menu li {
     position: relative;
     display: inline-block;
     width: auto;
     margin: 0 12px;
     text-align: center;
}
ul.menu li a {
     font-size: 20px;
     vertical-align: middle;
     text-transform: uppercase;
     color: #fff;
}
ul.menu li:active a, ul.menu li:hover a, ul.menu li:focus a {
     color: #e2e2e2;
}
ul.menu li.active .seta-baixo, ul.menu li:hover .seta-baixo, ul.menu li:focus .seta-baixo {
     border-top: 5px solid #f33;
}
ul.menu li:first-child {
     margin-left: 0;
}
ul.menu li:last-child {
     margin-right: 0;
}
ul.menu li a {
     text-decoration: none !important;
}
.signup {
     padding: 10px;
     -webkit-border-bottom-right-radius: 10px;
     -moz-border-radius-bottomright: 10px;
     border-bottom-right-radius: 10px;
     -webkit-border-bottom-left-radius: 10px;
     -moz-border-radius-bottomleft: 10px;
     border-bottom-left-radius: 10px;
     background: #6fb243;
     background: -moz-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, #6fb243), color-stop(30%, #56a243), color-stop(100%, #2e9041));
     background: -webkit-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: -o-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: -ms-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: linear-gradient(to bottom, #6fb243 0%, #56a243 30%, #2e9041 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fb243', endColorstr='#2e9041', GradientType=0)
}
.label-titulo {
     font-size: 22px;
     float: left;
     margin: 5px 0;
     vertical-align: middle;
     text-transform: uppercase;
     color: #fff;
}
.titulo-block {
     position: relative;
     overflow: hidden;
}
.titulo-block h2 {
     font-size: 35px;
     z-index: 2;
     float: left;
     margin: 0 0 10px;
     padding-right: 15px;
     text-transform: uppercase;
     color: #16452a;
     background: #fff;
}
.titulo-block div {
     position: absolute;
     top: 20px;
     right: 5px;
     width: 100%;
     border-bottom: 2px solid #f15f1d;
}
.title-categ {
     margin-bottom: 20px;
     text-align: center;
     text-transform: uppercase;
     color: #f15f1d;
}
.signup form {
     float: left;
     margin-bottom: 0;
     margin-left: 15px;
}
.signup input {
     margin-bottom: 0;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
}
.signup select {
     margin-bottom: 0;
     color: #666;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
}
.button-arrow {
     margin: 4px 0;
     padding: 5px 10px;
     border: 1px solid #fff;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     border-radius: 50px;
     background: none;
}
.logout {
     float: right;
     margin: 0;
}
.logout li {
     display: inline-block;
     margin-left: 21px;
}
.logout li a {
     font-size: 22px;
     color: #fff;
}
.logout li i {
     margin-right: 10px;
}
.list-block li img {
     opacity: 1;
}
.list-block li:hover img {
     opacity: .85;
     outline: 2px solid #f15f1d;
}
.big-news {
     position: relative;
}
.big-news:hover {
     outline: 2px solid #f15f1d;
}
.hat {
     position: absolute;
     bottom: 0;
     width: 100%;
     padding: 10px;
     background: rgba(0, 0, 0, .17);
     background: -moz-linear-gradient(top, rgba(0, 0, 0, .17) 0%, rgba(0, 0, 0, .94) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, .17)), color-stop(100%, rgba(0, 0, 0, .94)));
     background: -webkit-linear-gradient(top, rgba(0, 0, 0, .17) 0%, rgba(0, 0, 0, .94) 100%);
     background: -o-linear-gradient(top, rgba(0, 0, 0, .17) 0%, rgba(0, 0, 0, .94) 100%);
     background: -ms-linear-gradient(top, rgba(0, 0, 0, .17) 0%, rgba(0, 0, 0, .94) 100%);
     background: linear-gradient(to bottom, rgba(0, 0, 0, .17) 0%, rgba(0, 0, 0, .94) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0)
}
.hat p {
     font-size: 21px;
     margin-bottom: 0;
     color: #fff;
}
.no-img-news {
     margin-bottom: 20px;
}
.no-img-news h5 {
     font-size: 25px;
     line-height: 25px;
     margin-top: 0;
     margin-bottom: 5px;
     color: #16452a;
}
.no-img-news:hover h5 {
     color: #f15f1d;
}
.no-img-news p {
     color: #000;
}
.no-img-news:hover p {
     text-decoration: underline;
}
.border-green {
     border: 2px solid #2e9142;
}
.times-grupo {
     margin: 0;
     padding: 10px;
}
.times-grupo li {
     display: inline-block;
}
.valor-grupo {
     font-size: 22px;
     width: 60px;
     margin: 0 0;
     vertical-align: middle;
     text-transform: uppercase;
     color: #16452a;
}
.valor-time {
     margin: 0 12px;
}
.escudo {
     position: relative;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     background: #f15f1d;
}
.escudo img {
     width: 55px;
     height: 55px;
}
.escudo h5 {
     font-size: 30px;
     margin: 0;
     padding: 5px 15px;
     text-align: center;
     vertical-align: middle;
     text-transform: uppercase;
     color: #fff;
}
.escudo:hover .bubble {
     display: block;
}
.bubble {
     position: absolute;
     z-index: 10;
     top: 60px;
     display: none;
     width: 100%;
     min-width: 130px;
     border: 2px solid #f15f1d;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     background: #fff;
}
.bubble:before {
     position: absolute;
     width: 0;
     height: 0;
     margin: -10px 0 0 15px;
     content: '';
     border-right: 10px solid transparent;
     border-bottom: 10px solid #f15f1d;
     border-left: 10px solid transparent;
}
.bubble p {
     font-size: 18px;
     margin: 0;
     padding: 5px;
     text-align: center;
}
.footer {
     background: #6fb243;
     background: -moz-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, #6fb243), color-stop(30%, #56a243), color-stop(100%, #2e9041));
     background: -webkit-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: -o-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: -ms-linear-gradient(top, #6fb243 0%, #56a243 30%, #2e9041 100%);
     background: linear-gradient(to bottom, #6fb243 0%, #56a243 30%, #2e9041 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fb243', endColorstr='#2e9041', GradientType=0)
}
.copyright {
     background: #000;
}
.copyright p {
     font-family: arial !important;
     font-size: 11px;
     font-weight: bold;
     margin-bottom: 0;
     padding: 10px 0;
     color: #fff;
}
.widget {
     margin-bottom: 15px;
     padding: 20px;
}
.widget .titulo-block h2 {
     font-size: 25px;
     z-index: 2;
     float: left;
     margin: 0 0 10px;
     padding-right: 15px;
     text-transform: uppercase;
     color: #16452a;
     background: #fff;
}
.widget .titulo-block div {
     top: 15px;
}
.item-galeria {
     position: relative;
}
.item-galeria:hover img {
     outline: 2px solid #f15f1d;
}
.item-galeria .titulo-album {
     position: absolute;
     right: 0;
     bottom: 0;
     left: 0;
     padding: 10px;
     background: #f15f1d;
}
.item-galeria .titulo-album p {
     font-size: 13px;
     margin: 0;
     color: #fff;
}
.tab-conta {
     text-align: center;
}
.tab-conta .active {
     outline: 2px solid #f15f1d;
     background: transparent !important;
}
.tab-conta .active:after {
     position: absolute;
     bottom: -20px;
     width: 0;
     height: 0;
     content: '';
     border-right: 10px solid transparent;
     border-bottom: 10px solid #f15f1d;
     border-left: 10px solid transparent;
}
.btn-aba {
     display: inline-block;
     float: none !important;
     margin: 0 15px;
}
.btn-aba a {
     font-size: 2.3rem !important;
     vertical-align: middle;
     text-transform: uppercase;
     color: #16452a !important;
     background: transparent !important;
}
.btn-aba a:hover {
     outline: 2px solid #f15f1d;
     background: transparent !important;
}
.btn-aba i {
     font-size: 50px;
     margin-right: 10px;
     vertical-align: middle;
     color: #f15f1d;
}
.tabs-content > .content.active {
     margin-top: 20px;
     border-top: 2px solid #f15f1d;
}
.box-form {
     padding: 15px 0;
}
.box-form table .button {
     margin-bottom: 0;
}
.box-form h4 {
     font-size: 24px;
     margin: 0 0 10px;
     text-transform: uppercase;
     color: #16452a;
}
.box-form label {
     font-size: 20px;
}
.box-form table {
     width: 100%;
}
.box-form table tr td {
     font-size: 16px;
}
.box-form table thead {
     background: #f15f1d;
}
.box-form table thead tr th {
     font-size: 17px;
     font-weight: normal;
     text-align: center;
     color: #fff;
}
.pontuacao .escudo {
     position: relative;
     float: left;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     background: #f15f1d;
}
.pontuacao p.nome-time {
     font-size: 20px;
     margin: 0;
     vertical-align: middle;
}
.home .escudo {
     position: relative;
     float: left;
     margin-right: 10px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     background: #f15f1d;
}
.home .escudo h5, .away .escudo h5 {
     font-size: 18px;
     padding: 5px 10px;
}
.home p.nome-time {
     font-size: 22px;
     margin: 0;
     vertical-align: middle;
}
.away .escudo {
     position: relative;
     float: right;
     margin-left: 10px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     background: #f15f1d;
}
.away p.nome-time {
     font-size: 25px;
     float: right;
     margin: 0;
     vertical-align: middle;
}
.resultado b {
     font-size: 22px;
     padding: 0 7px;
}
.info-jogo p {
     font-size: 13px;
     margin: 0;
     padding: 5px 0;
     vertical-align: middle;
}
.pontuacao .escudo h5 {
     font-size: 20px;
     padding: 5px 10px;
}
.pontuacao label {
     font-size: 20px;
}
.pontuacao table {
     width: 100%;
}
.pontuacao table tr td {
     font-size: 20px;
     text-align: center;
}
.pontuacao table thead {
     background: #f15f1d;
}
.pontuacao table thead tr th {
     font-size: 17px;
     font-weight: normal;
     text-align: center;
     color: #fff;
}
.pages {
     text-align: center;
}
.pages li {
     display: inline-block !important;
     float: none !important;
}
.item-org .img-org {
     float: left;
}
.item-org .info-org {
     float: left;
     margin-left: 20px;
}
.item-org .info-org h4 {
     font-size: 25px;
     margin-top: 0;
     color: #16452a;
}
.item-org .info-org p {
     color: #16452a;
}
.item-org .social-top {
     float: left;
     margin: 0;
}
.item-org .social-top li {
     display: inline-block;
     margin-right: 20px;
}
.item-org .social-top i {
     font-size: 26px;
     color: #f15f1d;
}
.item-play {
     text-align: center;
}
.item-play:hover {
     outline: 2px solid #f15f1d;
}
.item-play .info-play {
     margin-top: 5px;
}
.item-play .info-play h4 {
     font-size: 22px;
     margin-top: 0;
     color: #16452a;
}
.item-play .info-play p {
     margin-bottom: 10px;
     color: #16452a;
}
.item-play .social-top {
     float: none;
     margin: 0;
}
.item-play .social-top li {
     display: inline-block;
     margin: 0 10px;
}
.item-play .social-top i {
     font-size: 26px;
     color: #f15f1d;
}
.item-apoio {
     text-align: center;
}
.item-apoio:hover {
     outline: 2px solid #f15f1d;
}
.item-apoio .info-apoio {
     margin-top: 5px;
}
.item-apoio .info-apoio h4 {
     font-size: 22px;
     margin-top: 0;
     color: #16452a;
}
textarea {
     height: 120px !important;
}
.list-fotos li:hover img {
     outline: 2px solid #f15f1d;
}
.img-treino {
     margin-bottom: 20px;
}
.disco {
     color: #16452a;
}
.box-bottom {
     margin-bottom: 20px;
     border-bottom: 2px solid #f15f1d;
}
#articleBy p {
     font-size: 12px;
}
#article_recommend {
     display: block;
     height: 40px;
}
#articleTitle h3 {
     margin-bottom: 10px;
}
#articleimg {
     margin-bottom: 10px;
}
#articleDate p {
     font-size: 13px;
     margin: 4px 0 10px;
     color: #666;
}
.subtitulo {
     font-size: 18px;
     font-style: italic;
     line-height: 1.2;
     margin: 0 0 15px 0;
     color: #666;
}
.fonte p {
     font-size: 12px;
     color: gray;
}
.fotodestaque {
     float: left;
     overflow: hidden;
     zoom: 1;
     margin: 10px 15px 5px 0;
}
.fotodestaque img {
     display: block;
     width: 100%;
}
#fasechave {
     height: 691px;
     margin-left: 0;
}
#fasechave ul {
     margin-left: 0;
}
#fasechave p.nome-time {
     font-size: 16px;
     line-height: 17px;
     display: table-cell;
     width: 150px;
     height: 34px;
     padding-right: 5px;
     padding-left: 0;
}
.quartas {
     position: relative;
     float: left;
     margin-left: 0;
     padding-top: 30px;
}
.quartas .jogo_quarta {
     margin-bottom: 30px;
}
.quartas .jogo_quarta span {
     font: 13px 'tepeno_sans_lightregular', sans-serif;
     display: block;
     padding-bottom: 5px;
     color: #32a478;
}
.quartas .jogo_quarta ul li {
     font: 14px 'Trebuchet MS', Arial, Helvetica, sans-serif;
     display: block;
     width: 215px;
     height: 50px;
     margin: -1px 0 0 0;
     padding: 6px 0 0 7px;
     border: 1px solid #ccc;
}
.quartas .jogo_quarta ul li span {
     font: 16px 'Trebuchet MS', Arial, Helvetica, sans-serif;
     margin: -29px 0 0 176px;
     padding: 2px;
     text-align: center;
     color: #fff;
     background: #16452a;
}
.quartas .colchete1 {
     position: absolute;
     width: 47px;
     height: 164px;
     margin: 83px 0 0 215px;
     border-top: 1px solid #ccc;
     border-right: 1px solid #ccc;
     border-bottom: 1px solid #ccc;
}
.quartas .colchete2 {
     position: absolute;
     width: 47px;
     height: 164px;
     margin: 409px 0 0 215px;
     border-top: 1px solid #ccc;
     border-right: 1px solid #ccc;
     border-bottom: 1px solid #ccc;
}
.semi {
     position: relative;
     float: left;
     margin-left: 50px;
     padding-top: 123px;
}
.semi .jogo_semi {
     margin-bottom: 188px;
}
.semi .jogo_semi span {
     font: 13px 'tepeno_sans_lightregular', sans-serif;
     display: block;
     padding-bottom: 5px;
     color: #32a478;
}
.semi .jogo_semi ul li {
     font: 14px 'Trebuchet MS', Arial, Helvetica, sans-serif;
     display: block;
     width: 215px;
     height: 50px;
     margin: -1px 0 0 0;
     padding: 6px 0 0 7px;
     border: 1px solid #ccc;
}
.semi .jogo_semi ul li span {
     font: 16px 'Trebuchet MS', Arial, Helvetica, sans-serif;
     margin: -29px 0 0 176px;
     padding: 2px;
     text-align: center;
     color: #fff;
     background: #16452a;
}
.semi .colchete1 {
     position: absolute;
     width: 47px;
     height: 322px;
     margin: 83px 0 0 215px;
     border-top: 1px solid #ccc;
     border-right: 1px solid #ccc;
     border-bottom: 1px solid #ccc;
}
.final {
     position: relative;
     float: left;
     margin-left: 50px;
     padding-top: 218px;
}
.final .jogo_final {
     margin-bottom: 25px;
}
.final .jogo_final span {
     font: 13px 'tepeno_sans_lightregular', sans-serif;
     display: block;
     padding-bottom: 5px;
     color: #32a478;
}
.final .jogo_final ul li {
     font: 14px 'Trebuchet MS', Arial, Helvetica, sans-serif;
     display: block;
     width: 215px;
     height: 50px;
     margin: -1px 0 0 0;
     padding: 6px 0 0 7px;
     border: 1px solid #ccc;
}
.final .jogo_final ul li span {
     font: 16px 'Trebuchet MS', Arial, Helvetica, sans-serif;
     margin: -29px 0 0 176px;
     padding: 2px;
     text-align: center;
     color: #fff;
     background: #16452a;
}
.trofeu {
     position: relative;
     float: left;
     margin-left: 50px;
     padding-top: 154px;
}
.trofeu .jogo_trofeu {
     margin-bottom: 25px;
}
.trofeu .jogo_trofeu span {
     font: 13px 'tepeno_sans_lightregular', sans-serif;
     display: block;
     padding-bottom: 5px;
     color: #32a478;
}
.trofeu .jogo_trofeu ul li {
     font: 14px 'Trebuchet MS', Arial, Helvetica, sans-serif;
     display: block;
     width: 100%;
     height: 60px;
     margin: 10px 0 0 0;
     padding: 12px;
     border: 1px solid #ccc;
}
.trofeu .jogo_trofeu ul li span {
     font: 16px 'Trebuchet MS', Arial, Helvetica, sans-serif;
     margin: -29px 0 0 176px;
     padding: 2px;
     text-align: center;
     color: #fff;
     background: #16452a;
}
.penalti {
     font: 12px 'Trebuchet MS', Arial, Helvetica, sans-serif;
     position: absolute;
     width: 34px;
     height: 49px;
     margin: -95px 0 0 214px;
     padding: 6px 0;
     text-align: center;
     border: 1px solid #ccc;
     background: #fff;
}
.penalti strong {
     display: block;
     margin: 0 0 7px -5px;
     padding: 0 0 4px 4px !important;
     border-bottom: 1px solid #ccc;
}
.riscado {
     text-decoration: line-through;
     opacity: .50;
     -moz-opacity: .50;
     filter: alpha(opacity=50);
}
.campeao {
     background: #ffd700;
}
.vice {
     text-decoration: none;
     opacity: 1;
     background: #c0c0c0;
}
.terceiro {
     color: #fff;
     background: #beb46f;
}
.end-jogo {
     margin-bottom: 0 !important;
}
.campeao p.nome-time {
     font-size: 21px !important;
     line-height: 1 !important;
     width: 217px !important;
}
@media screen and (min-width:768px) and (max-width:1024px) {
     .top {
          margin-bottom: 20px;
     }
     h1.logo {
          top: -60px;
     }
     h1.logo img {
          z-index: 100;
          height: 150px;
     }
     ul.menu {
          padding-left: 140px;
          text-align: left;
     }
     ul.menu li {
          margin: 0 7px;
     }
     ul.menu li a {
          font-size: 17px;
     }
     .titulo-block h2 {
          font-size: 25px;
     }
     .titulo-block div {
          top: 15px;
     }
     .no-img-news h5 {
          font-size: 19px;
          line-height: 21px;
     }
     .no-img-news p {
          font-size: 14px;
     }
     .valor-time {
          margin: 0 5px;
     }
     .quartas {
          position: relative;
          float: left;
          margin-left: 0;
          padding-top: 30px;
     }
     .quartas .jogo_quarta {
          margin-bottom: 30px;
     }
     .quartas .jogo_quarta span {
          font: 13px 'tepeno_sans_lightregular', sans-serif;
          display: block;
          padding-bottom: 5px;
          color: #32a478;
     }
     .quartas .jogo_quarta ul li {
          font: 14px 'Trebuchet MS', Arial, Helvetica, sans-serif;
          display: block;
          width: 215px;
          height: 50px;
          margin: -1px 0 0 0;
          padding: 6px 0 0 7px;
          border: 1px solid #ccc;
     }
     .quartas .jogo_quarta ul li span {
          font: 16px 'Trebuchet MS', Arial, Helvetica, sans-serif;
          margin: -29px 0 0 176px;
          padding: 2px;
          text-align: center;
          color: #fff;
          background: #16452a;
     }
     .quartas .colchete1 {
          position: absolute;
          width: 47px;
          height: 164px;
          margin: 83px 0 0 215px;
          border-top: 1px solid #ccc;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
     }
     .quartas .colchete2 {
          position: absolute;
          width: 47px;
          height: 164px;
          margin: 409px 0 0 215px;
          border-top: 1px solid #ccc;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
     }
     .semi {
          position: relative;
          float: left;
          margin-left: 60px;
          padding-top: 123px;
     }
     .semi .jogo_semi {
          margin-bottom: 188px;
     }
     .semi .jogo_semi span {
          font: 13px 'tepeno_sans_lightregular', sans-serif;
          display: block;
          padding-bottom: 5px;
          color: #32a478;
     }
     .semi .jogo_semi ul li {
          font: 14px 'Trebuchet MS', Arial, Helvetica, sans-serif;
          display: block;
          width: 215px;
          height: 50px;
          margin: -1px 0 0 0;
          padding: 6px 0 0 7px;
          border: 1px solid #ccc;
     }
     .semi .jogo_semi ul li span {
          font: 16px 'Trebuchet MS', Arial, Helvetica, sans-serif;
          margin: -29px 0 0 176px;
          padding: 2px;
          text-align: center;
          color: #fff;
          background: #16452a;
     }
     .semi .colchete1 {
          position: absolute;
          width: 47px;
          height: 322px;
          margin: 83px 0 0 215px;
          border-top: 1px solid #ccc;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
     }
     .final {
          position: relative;
          float: left;
          margin-left: 65px;
          padding-top: 218px;
     }
     .final .jogo_final {
          margin-bottom: 25px;
     }
     .final .jogo_final span {
          font: 13px 'tepeno_sans_lightregular', sans-serif;
          display: block;
          padding-bottom: 5px;
          color: #32a478;
     }
     .final .jogo_final ul li {
          font: 14px 'Trebuchet MS', Arial, Helvetica, sans-serif;
          display: block;
          width: 215px;
          height: 50px;
          margin: -1px 0 0 0;
          padding: 6px 0 0 7px;
          border: 1px solid #ccc;
     }
     .final .jogo_final ul li span {
          font: 16px 'Trebuchet MS', Arial, Helvetica, sans-serif;
          margin: -29px 0 0 176px;
          padding: 2px;
          text-align: center;
          color: #fff;
          background: #16452a;
     }
     .trofeu {
          position: relative;
          float: left;
          margin-left: 65px;
          padding-top: 77px;
     }
     .trofeu .jogo_trofeu {
          margin-bottom: 25px;
     }
     .trofeu .jogo_trofeu span {
          font: 13px 'tepeno_sans_lightregular', sans-serif;
          display: block;
          padding-bottom: 5px;
          color: #32a478;
     }
     .trofeu .jogo_trofeu ul li {
          font: 14px 'Trebuchet MS', Arial, Helvetica, sans-serif;
          display: block;
          width: 100%;
          height: 60px;
          margin: 10px 0 0 0;
          padding: 12px;
          border: 1px solid #ccc;
     }
     .trofeu .jogo_trofeu ul li span {
          font: 16px 'Trebuchet MS', Arial, Helvetica, sans-serif;
          margin: -29px 0 0 176px;
          padding: 2px;
          text-align: center;
          color: #fff;
          background: #16452a;
     }
     .penalti {
          font: 12px 'Trebuchet MS', Arial, Helvetica, sans-serif;
          position: absolute;
          width: 34px;
          height: 49px;
          margin: -95px 0 0 214px;
          padding: 6px 0;
          text-align: center;
          border: 1px solid #ccc;
          background: #fff;
     }
     .penalti strong {
          display: block;
          margin: 0 0 7px -5px;
          padding: 0 0 4px 4px !important;
          border-bottom: 1px solid #ccc;
     }
}
@media screen and (max-width:768px) {
     .top {
          margin-bottom: 20px;
     }
     h1.logo {
          top: -60px;
     }
     h1.logo img {
          z-index: 100;
          height: 150px;
     }
     ul.menu {
          padding-left: 140px;
          text-align: left;
     }
     ul.menu li {
          margin: 0 7px;
     }
     ul.menu li a {
          font-size: 14px;
     }
     .titulo-block h2 {
          font-size: 25px;
     }
     .titulo-block div {
          top: 15px;
     }
     .no-img-news h5 {
          font-size: 19px;
          line-height: 21px;
     }
     .no-img-news p {
          font-size: 14px;
     }
     .valor-grupo {
          width: 100%;
          text-align: center;
     }
     .valor-time {
          margin: 0 1px;
     }
     .home p.nome-time {
          font-size: 15px;
          margin: 0;
          vertical-align: middle;
     }
     .away p.nome-time {
          font-size: 15px;
          margin: 0;
          vertical-align: middle;
     }
     .home .escudo h5, .away .escudo h5 {
          font-size: 13px;
          padding: 5px 7px;
     }
     .resultado b {
          font-size: 14px;
          padding: 0 0;
     }
     #fasechave p.nome-time {
          font-size: 16px;
          line-height: 17px;
          display: table-cell;
          width: 103px;
          height: 34px;
          padding-right: 5px;
          padding-left: 0;
     }
     .quartas .jogo_quarta ul li {
          width: 170px;
     }
     .quartas .jogo_quarta ul li span {
          margin: -29px 0 0 137px;
     }
     .quartas .colchete1 {
          margin: 83px 0 0 155px;
     }
     .quartas .colchete2 {
          margin: 409px 0 0 155px;
     }
     .semi .jogo_semi ul li {
          width: 170px;
     }
     .semi .jogo_semi ul li span {
          margin: -29px 0 0 137px;
     }
     .semi .colchete1 {
          margin: 83px 0 0 155px;
     }
     .final .jogo_final ul li {
          width: 170px;
     }
     .final .jogo_final ul li span {
          margin: -29px 0 0 137px;
     }
     .trofeu {
          position: relative;
          float: left;
          margin-left: 65px;
          padding-top: 60px;
     }
     .penalti {
          margin: -95px 0 0 164px;
     }
}
@media screen and (max-width:767px) {
     .label-titulo {
          float: none;
          text-align: center;
     }
     .big-news {
          margin-bottom: 20px;
     }
     .valor-time {
          margin: 0 8px 8px;
     }
     .tab-conta {
          text-align: center;
     }
     .tab-conta .active {
          outline: 2px solid #f15f1d;
          background: transparent !important;
     }
     .tab-conta .active:after {
          position: absolute;
          bottom: -20px;
          width: 0;
          height: 0;
          content: '';
          border-right: 10px solid transparent;
          border-bottom: 10px solid #f15f1d;
          border-left: 10px solid transparent;
     }
     .btn-aba {
          display: inline-block;
          float: none !important;
          margin: 0 10px;
     }
     .btn-aba a {
          font-size: 17px !important;
          padding: 10px !important;
     }
     .btn-aba a:hover {
          outline: 2px solid #f15f1d;
          background: transparent !important;
     }
     .btn-aba i {
          font-size: 30px;
          margin-right: 10px;
          vertical-align: middle;
          color: #f15f1d;
     }
     .home .escudo, .away .escudo {
          display: none;
     }
     .home p.nome-time {
          font-size: 15px;
          margin: 0;
          vertical-align: middle;
     }
     .away p.nome-time {
          font-size: 15px;
          margin: 0;
          vertical-align: middle;
     }
     .home .escudo h5, .away .escudo h5 {
          font-size: 13px;
          padding: 5px 7px;
     }
     .resultado b {
          font-size: 14px;
          padding: 0 0;
     }
     .pontuacao label {
          font-size: 20px;
     }
     .pontuacao table {
          width: 100%;
     }
     .pontuacao table tr td {
          font-size: 14px;
          text-align: center;
     }
     .pontuacao table thead {
          background: #f15f1d;
     }
     .pontuacao table thead tr th {
          font-size: 15px;
          font-weight: normal;
          text-align: center;
          color: #fff;
     }
     .pontuacao p.nome-time {
          font-size: 15px;
          margin: 0;
          vertical-align: middle;
     }
     .pontuacao .escudo {
          display: none;
     }
     .quartas, .semi, .final, .trofeu {
          margin: 0 40px;
          margin-bottom: 40px;
          padding-top: 20px;
          padding-bottom: 40px;
          border-bottom: 2px solid #f15f1d;
     }
     .quartas .colchete1 {
          margin: 83px 0 0 170px;
     }
     .quartas .colchete2 {
          margin: 409px 0 0 170px;
     }
     .semi .jogo_semi {
          margin-bottom: 30px;
     }
     .semi .jogo_semi ul li span {
          font: 16px 'Trebuchet MS', Arial, Helvetica, sans-serif;
          margin: -29px 0 0 138px;
          padding: 2px;
          text-align: center;
          color: #fff;
          background: #16452a;
     }
     .semi .colchete1 {
          height: 164px;
          margin: 83px 0 0 170px;
     }
     .penalti {
          margin: -95px 0 0 169px;
     }
}