{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></div>{% endblock %}

{% block content %}
<aside class="right-side">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
            <h2 class="page-header">{% trans "Thanks for spending some quality time with the Web site today." %}</h2>
            <div class="row">
                <!-- right column -->
                <div class="col-xs-12">
                    <!-- general form elements disabled -->
                    <p><a href="{% url 'admin:index' %}">{% trans 'Log in again' %}</a></p>

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </aside><!-- /.right-side -->


{% endblock %}
