{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load widget_tweaks %}
{% load url from future %}


{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}
<aside class="right-side">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- right column -->
            <div class="col-xs-12">
                <!-- general form elements disabled -->
                {% if form.errors %}
                     <div class="alert alert-danger alert-dismissable">
                        <i class="fa fa-ban"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %} Please correct the errors below.{% endblocktrans %}
                    </div>
                {% else %}
                    <div class="alert alert-info alert-dismissable">
                        <i class="fa fa-ban"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
                    </div>
                {% endif %}

                <form action="" method="post" class="box box-info">{% csrf_token %}

                    <div class="box-body">
                        <fieldset class="form-group {% if form.errors %} has-error{% endif %}">

                            <div class="control-group{{ form.old_password.errors|yesno:' error,' }}">
                                <div class="control-label">
                                    <label for="id_old_password" class="required">{% trans 'Old password' %}:</label>
                                </div>

                                <div class="controls">
                                    {{ form.old_password|add_class:"form-control"|append_attr:"id:inputError" }}
                                    <p class="help-block">{{ form.old_password.errors.as_text }}</p>
                                </div>
                            </div>

                            <div class="control-group{{ form.new_password1.errors|yesno:' error,' }}">
                                <div class="control-label">
                                    <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>
                                </div>

                                <div class="controls">
                                    {{ form.new_password1|add_class:"form-control"|append_attr:"id:inputError" }}
                                    <p class="help-block">{{ form.new_password1.errors.as_text }}</p>
                                </div>
                            </div>

                            <div class="control-group{{ form.new_password2.errors|yesno:' error,' }}">
                                <div class="{% if form.new_password2.errors %} has-error{% endif %}">
                                    <label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label>
                                </div>
                                <div class="controls">
                                    {{ form.new_password2|add_class:"form-control"|append_attr:"id:inputError" }}
                                    <p class="help-block">{{ form.new_password2.errors.as_text }}</p>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="box-footer">
                        <input type="submit" value="{% trans 'Change my password' %}" class="default btn btn-info"/>
                    </div>

                    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>


                </form>
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</aside><!-- /.right-side -->
{% endblock %}
