{#{% load dajaxice_templatetags staticfiles %}#}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />

    <meta name="author" content="128bits" />
    <meta name="copyright" content="128bits" />

    <title>{% block title %}Rock Gol{% endblock %}</title>

    <!-- block css -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/foundation.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/app.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/icons.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/owl.carousel.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/owl.transitions.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/owl.theme.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bxslider.css" />
    {% block extracss %}{% endblock %}
{#    {% dajaxice_js_import %}#}
    <!-- end block css -->
    <script src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>
{#    <script src="{{ STATIC_URL }}dajax/prototype.dajax.core.js"></script>#}
{#    <script src="{{ STATIC_URL }}dajax/mootools.dajax.core.js"></script>#}
{#    <script src="{{ STATIC_URL }}dajax/dojo.dajax.core.js"></script>#}
    <script src="{{ MEDIA_URL }}js/vendor/modernizr.js"></script>
</head>

<body class="antialiased">

    <!-- base -->
    <div class="body">

        <div class="off-canvas-wrap" data-offcanvas>
            <div class="inner-wrap">
                {% include 'componentes/header.html' %}


                <main class="main">
                    {% include "componentes/menu.html" %}

                    {% block content %}{% endblock %}

                </main>



                <!-- end base -->
            </div>
        </div>

        {% include 'componentes/footer.html' %}

    </div>
            <!-- end base -->


            <!-- block scripts -->
            <script src="{{ MEDIA_URL }}js/vendor/jquery.js"></script>
            <script src="{{ MEDIA_URL }}js/foundation.min.js"></script>
            <script src="{{ MEDIA_URL }}js/owl.carousel.min.js"></script>
            <script src="{{ MEDIA_URL }}js/bxslider.js"></script>
            {% block extrajs %}{% endblock %}

            <script>
            $("#slide-principal").owlCarousel({
                navigation: false,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                autoPlay: true,
                transitionStyle: "fadeUp",
                pagination: false
            });

            $('.slide-apoio').bxSlider({
                mode: 'vertical',
                slideWidth: 300,
                minSlides: 5,
                slideMargin: 10,
                auto: true
            });
            </script>
            <script>
            $(document).foundation();
            </script>
            <!-- end block scripts -->
</body>

</html>
