<footer>
    <div class="footer">
        <div class="row">
            <div class="large-2 medium-3 small-6 columns">
                <a href="index.html">
                    <img src="{{ MEDIA_URL }}img/logo-footer.png" height="76" width="261" alt="">
                </a>
            </div>
            <div class="large-10 medium-9 small-6 columns">
                <ul class="social-top inline-list">
                    <li>
                        <a href="https://www.facebook.com/CurtaRockGolTeresina"><i class="fi-social-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/RockGolTeresina"><i class="fi-social-twitter"></i></a>
                    </li>
                    <li>
                        <a href="http://instagram.com/rockgolteresina"><i class="fi-social-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="row">
            <div class="large-6 medium-6 small-6 columns">
                <p>2014 © Copyright Rockgol. Todos os direitos reservados</p>
            </div>
            <div class="large-6 medium-6 small-6 columns">
                <p class="right">Desenvolvido por:
                    <a href="http://agencia128bits.com/">
                        <img src="{{ MEDIA_URL }}img/dev128bits.png" alt="">
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>