<section class="menu-mobile">
    <div class="menu-offcanvas show-for-small">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" href="#">
                    <span></span>
                </a>
            </section>

            <section class="middle tab-bar-section">
                <a href="{% url 'home' %}">
                <h1 class="title"><img src="{{ MEDIA_URL }}img/logo-footer.png" height="76" width="145" alt=""></h1>
                </a>
            </section>
        </nav>

        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li>
                    <label>Menu</label>
                </li>
                 <li class=""><a href="/sobre/" class="" title="">sobre</a>
            </li>
            <li class=""><a href="{% url 'modalidades' %}" class="" title="">modalidades</a>
            </li>
            <li class=""><a href="{% url 'atracoes' %}" class="" title="">atrações</a>
            </li>
            <li class=""><a href="{% url 'organizacao' %}" class="" title="">organização</a>
            </li>
            <li class=""><a href="/mapa-do-evento/" class="" title="">mapa do evento</a>
            </li>
            <li class=""><a href="{% url 'parceiros' %}" class="" title="">parceiros</a>
            </li>
            <li class=""><a href="{% url 'contato' %}" class="" title="">contatos</a>
            </li>
                <li class=""><a href="{% url 'segunda_etapa_listagem' 'campeonato-de-futebol-masculino-2014' %}" class="" title="">finais</a>
            </li>
            </ul>
        </aside>
    </div>
    <a class="exit-off-canvas"></a>
</section>

<!-- base -->

<header class="hide-for-small">
    <div class="top">
        <div class="row">

            <div class="large-12 medium-12 small-12 columns">
                <ul class="social-top inline-list">
                    <li>
                        <a href="https://www.facebook.com/CurtaRockGolTeresina"><i class="fi-social-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/RockGolTeresina"><i class="fi-social-twitter"></i></a>
                    </li>
                    <li>
                        <a href="http://instagram.com/rockgolteresina"><i class="fi-social-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="row">
            <div class="large-12 medium-12  columns">
                <section>
                    <h1 class="logo">
                        <a href="{% url 'home' %}">
                            <img src="{{ MEDIA_URL }}img/logo.png"/>
                        </a>
                    </h1>
                    <ul class="menu">
                        <li class=""><a href="/sobre/" class="" title="">sobre</a>
                        </li>
                        <li class=""><a href="{% url 'modalidades' %}" class="" title="">modalidades</a>
                        </li>
                        <li class=""><a href="{% url 'atracoes' %}" class="" title="">atrações</a>
                        </li>
                        <li class=""><a href="{% url 'organizacao' %}" class="" title="">organização</a>
                        </li>
                        <li class=""><a href="/mapa-do-evento/" class="" title="">mapa do evento</a>
                        </li>
                        <li class=""><a href="{% url 'parceiros' %}" class="" title="">parceiros</a>
                        </li>
                        <li class=""><a href="{% url 'contato' %}" class="" title="">contatos</a>
                        </li>
                        <li class=""><a href="{% url 'fase_final_listagem' %}" class="" title="">finais</a>
                        </li>

                    </ul>

                </section>
            </div>
        </div>
    </div>
</header>