<section class="slide mb">
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <div id="slide-principal" class="owl-carousel owl-theme">
                {% for slide in slides %}
                <div class="item">
                    <a href="{{ slide.url }}">
                        <img src="{{ slide.get_imagem_slide }}" alt="{{ slide.titulo }}">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <section class="signup">
                <div class="row logado">
                    <div class="large-6  medium-6  small-6 columns">
                        <h2 class="label-titulo">Bem vindo,
                            <span>{{ request.user.nome }}</span>
                        </h2>
                    </div>
                    <div class="large-6  medium-6  small-6 columns">
                        <ul class="logout">
                            <li><a href="{% url 'minha-conta' %}"><i class="fi-widget"></i>minha conta</a></li>
                            <li><a href="{% url 'sair' %}"><i class="fi-power"></i>sair</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <section class="signup">
                <div class="row login">

                    <div class="large-6  medium-8  small-12 columns">
                        <h2 class="label-titulo">acesso</h2>

                        <form action="{% url 'login' %}" method="post" id="login_form">{% csrf_token %}
                            <div class="row">
                                <div class="large-12 medium-12 small-12 columns">
                                    <div class="row">
                                        <div class="large-5 medium-5 small-5 columns">
                                            <input type="email" id="email" name="email" placeholder="Usuário"/>
                                        </div>
                                        <div class="large-5 medium-5 small-5 columns">
                                            <input type="password" id="password" name="password" placeholder="Senha"/>
                                        </div>

                                        <div class="large-2 medium-2 small-2 columns">
                                            <button type="submit" class="button-arrow"><i class="fi-play"></i>
                                            </button>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>


            </section>
        </div>
    </div>
    {% endif %}
</section>