<div class="large-3 medium-3 small-12 columns">
    <div class="border-green">
        <div class="widget">
            <div class="titulo-block">
                <a href="">
                    <h2 class="titulo-block">Patrocínio</h2>
                </a>

                <div></div>
            </div>
            <div>
                {% for patrocinio in patrocinadores %}
                <div class="mb">
                    <a href="{{ patrocinio.url }}"><img src="{{ patrocinio.get_imagem_sidebar }}"></a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="widget">
            <div class="titulo-block">
                <a href="">
                    <h2 class="titulo-block">Apoio</h2>
                </a>

                <div></div>
            </div>
            <div class="slide-apoio">
                {% for apoio in apoios %}
                <div class="slide">
                    <a href="{{ apoio.url }}"><img src="{{ apoio.get_imagem_sidebar }}"></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>