{% extends 'componentes/base.html' %}
{% block content %}
    <section class="mb">
        <div class="row">
            <div class="large-9 medium-9 small-12 columns">

                <section class="contato mb">
                    <div class="titulo-block">
                        <a href="">
                            <h2 class="titulo-block">Atrações</h2>
                        </a>

                        <div></div>
                    </div>
                    {% for atracao in object_list %}
                    <div class="box-bottom">
                        <h4 class="title-categ">{{ atracao.nome }} dia {{ atracao.data|date:"d/m" }}</h4>
                        <ul class="list-fotos small-block-grid-1 medium-block-grid-2 large-block-grid-2">
                            {% for disco in atracao.discotecagem_set.all %}
                            {% if disco.foto %}
                            <li>
                                <img src="{{ disco.get_imagem_cortada }}" alt="{{ disco.nome }}">
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        <h3 class="disco">
                            {% for disco in atracao.discotecagem_set.all %}
                                {% if forloop.last %}
                                {{ disco.nome|upper }}
                                {% else %}
                                {{ disco.nome|upper }} -
                                {% endif %}
                            {% endfor %}
                        </h3>
                    </div>
                    {% endfor %}
                     <div class="row">
                        <div class="large-12 medium-12 columns">

                            <div class="titulo-block">
                                <a href="">
                                    <h2 class="titulo-block">comente</h2>
                                </a>

                                <div></div>
                            </div>
                            <div class="comentarios mobile-off">
                                <div class="fb-comments" data-href="www.rockgol.com.br/atracoes/" data-width="870" data-numposts="5" data-colorscheme="light"></div>
                            </div>
                        </div>
                    </div>

                </section>

            </div>
            {% include 'componentes/sidebar.html' %}
        </div>
    </section>
     <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
{% endblock %}