{% extends 'componentes/base.html' %}
{% block content %}
    <section class="mb">
        <div class="row">
            <div class="large-9 medium-9 small-12 columns">

                <section class="contato mb">
                    <div class="titulo-block">
                        <a href="">
                            <h2 class="titulo-block">Contato</h2>
                        </a>

                        <div></div>
                    </div>

                    <form method="post" action="{% url 'contato' %}">{% csrf_token %}
                        <div class="box-form">
                            <div class="row">
                                <div class="large-6 columns">
                                    <div class="row">
                                        <div class="large-12 columns">
                                            <label>Nome
                                                {{ form.nome }}
                                                {{ form.nome.errors }}
                                            </label>
                                        </div>
                                        <div class="large-12 columns">
                                            <label>Email
                                                {{ form.email }}
                                                {{ form.email.errors }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="large-6 columns">
                                    <label>Mensagem
                                        {{ form.mensagem }}
                                        {{ form.mensagem.errors }}
                                    </label>
                                </div>
                            </div>

                        </div>

                        <button type="submit" class="button small radius">Enviar</button>
                    </form>


                </section>

            </div>

            {% include 'componentes/sidebar.html' %}
        </div>
    </section>
{% endblock %}