{% extends "componentes/base.html" %}
{% block content %}

<section class="mb">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                <section class="mb">
                    <div class="titulo-block">
                        <a href="">
                            <h2 class="titulo-block">Tabela</h2>
                        </a>
                        <div></div>
                    </div>

                    <div id="fasechave">
                        <div class="quartas">
                            <div class="colchete1"></div>
                            <div class="colchete2"></div>
                            {% for jogo in quartas %}
                            <div class="jogo_quarta">
                                <span> <b> Quartas {{ forloop.counter }} </b>
                                    <br>{{ jogo.data }} - campo {{ jogo.local }}</span>
                                <ul>
                                    <li {% if jogo.placar_time_1 < jogo.placar_time_2 %}class="riscado"{% endif %}>
                                        <div class="nome-time home">
                                            <div>
                                                <div class="escudo">
                                                    <h5>{{ jogo.time_1.sigla }}</h5>
                                                </div>
                                                <p class="nome-time">{{ jogo.time_1.nome }}</p>
                                            </div>
                                        </div>
                                        <span>{{ jogo.placar_time_1 }}</span>
                                    </li>
                                    <li {% if jogo.placar_time_1 > jogo.placar_time_2 %}class="riscado"{% endif %}>
                                        <div class="nome-time home">
                                            <div>
                                                <div class="escudo">
                                                    <h5>{{ jogo.time_2.sigla }}</h5>
                                                </div>
                                                <p class="nome-time">{{ jogo.time_2.nome }}</p>
                                            </div>
                                        </div>
                                        <span>{{ jogo.placar_time_2 }}</span>
                                    </li>
                                </ul>
                                {% if jogo.penalti %}
                                <div class="penalti">
                                    <strong>{{ jogo.time_1_penalti }}</strong>{{ jogo.time_2_penalti }}
                                </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                        {% if not semi %}
                            <div class="semi">
                            <div class="colchete1"></div>
                            <div class="jogo_semi">
                                <span> <b> Semi 1 </b>
                                    <br>31/08</span>
                                <ul>
                                    <li class="">
                                        <div class="nome-time home">
                                            <div>
                                                <div class="escudo">
                                                    <h5>RG</h5>
                                                </div>
                                                <p class="nome-time">Vencedor quartas 1</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="nome-time home">
                                            <div>
                                                <div class="escudo">
                                                    <h5>RG</h5>
                                                </div>
                                                <p class="nome-time">Vencedor quartas 2</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="jogo_semi end-jogo">
                                <span> <b> Semi 2 </b>
                                    <br>31/08</span>
                                <ul>
                                    <li class="">
                                        <div class="nome-time home">
                                            <div>
                                                <div class="escudo">
                                                    <h5>RG</h5>
                                                </div>
                                                <p class="nome-time">Vencedor quartas 3</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="nome-time home">
                                            <div>
                                                <div class="escudo">
                                                    <h5>RG</h5>
                                                </div>
                                                <p class="nome-time">Vencedor quartas 4</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% else %}
                        <div class="semi">
                            {% for jogo in semi|slice:":1" %}
                            <div class="colchete1"></div>
                            <div class="jogo_semi">
                                <span> <b> Semi {{ forloop.counter }} </b>
                                    <br>{{ jogo.data }} - campo {{ jogo.local }}</span>
                                <ul>
                                    <li {% if jogo.placar_time_1 < jogo.placar_time_2 %}class="riscado"{% endif %}>
                                        <div class="nome-time home">
                                            <div>
                                                <div class="escudo">
                                                    <h5>{{ jogo.time_1.sigla }}</h5>
                                                </div>
                                                <p class="nome-time">{{ jogo.time_1.nome }}</p>
                                            </div>
                                        </div>
                                        <span>{{ jogo.placar_time_1 }}</span>
                                    </li>
                                    <li {% if jogo.placar_time_1 > jogo.placar_time_2 %}class="riscado"{% endif %}>
                                        <div class="nome-time home">
                                            <div>
                                                <div class="escudo">
                                                    <h5>{{ jogo.time_2.sigla }}</h5>
                                                </div>
                                                <p class="nome-time">{{ jogo.time_2.nome }}</p>
                                            </div>
                                        </div>
                                        <span>{{ jogo.placar_time_2 }}</span>
                                    </li>
                                </ul>
                            </div>
                            {% endfor %}
                            {% for jogo in semi|slice:"1:2" %}
                            <div class="jogo_semi end-jogo">
                                <span> <b> Semi 2 </b>
                                    <br>{{ jogo.data }} - campo {{ jogo.local }}</span>
                                <ul>
                                    <li {% if jogo.placar_time_1 < jogo.placar_time_2 %}class="riscado"{% endif %}>
                                        <div class="nome-time home">
                                            <div>
                                                <div class="escudo">
                                                    <h5>{{ jogo.time_1.sigla }}</h5>
                                                </div>
                                                <p class="nome-time">{{ jogo.time_1.nome }}</p>
                                            </div>
                                        </div>
                                        <span>{{ jogo.placar_time_1 }}</span>
                                    </li>
                                    <li {% if jogo.placar_time_1 > jogo.placar_time_2 %}class="riscado"{% endif %}>
                                        <div class="nome-time home">
                                            <div>
                                                <div class="escudo">
                                                    <h5>{{ jogo.time_2.sigla }}</h5>
                                                </div>
                                                <p class="nome-time">{{ jogo.time_2.nome }}</p>
                                            </div>
                                        </div>
                                        <span>{{ jogo.placar_time_2 }}</span>
                                    </li>
                                </ul>
                                {% if jogo.penalti %}
                                <div class="penalti">
                                    <strong>{{ jogo.time_1_penalti }}</strong>{{ jogo.time_2_penalti }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% if not final %}
                            <div class="final">
                            <div class="jogo_final">
                                <span> <b> Final </b>
                                    <br>31/08</span>
                                <ul>
                                    <li class="">
                                        <div class="nome-time home">
                                            <div>
                                                <div class="escudo">
                                                    <h5>RG</h5>
                                                </div>
                                                <p class="nome-time">Vencedor semi 1</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="vice">
                                        <div class="nome-time home">
                                            <div>
                                                <div class="escudo">
                                                    <h5>RG</h5>
                                                </div>
                                                <p class="nome-time">Vencedor semi 2</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                        <div class="final">
                            {% for jogo in final %}
                            <div class="jogo_final">
                                <span><b> Final </b>
                                    <br>{{ jogo.data }} - campo {{ jogo.local }}</span>
                                <ul>
                                    <li {% if jogo.placar_time_1 < jogo.placar_time_2 %}class="vice" {% else %}class="campeao"{% endif %}>
                                        <div class="nome-time home">
                                            <div>
                                                <div class="escudo">
                                                    <h5>{{ jogo.time_1.sigla }}</h5>
                                                </div>
                                                <p class="nome-time">{{ jogo.time_1.nome }}</p>
                                            </div>
                                        </div>
                                        <span>{{ jogo.placar_time_1 }}</span>
                                    </li>
                                    <li {% if jogo.placar_time_1 > jogo.placar_time_2 %}class="vice" {% else %}class="campeao"{% endif %}>
                                        <div class="nome-time home">
                                            <div>
                                                <div class="escudo">
                                                    <h5>{{ jogo.time_2.sigla }}</h5>
                                                </div>
                                                <p class="nome-time">{{ jogo.time_2.nome }}</p>
                                            </div>
                                        </div>
                                        <span>{{ jogo.placar_time_2 }}</span>
                                    </li>
                                </ul>
                                {% if jogo.penalti %}
                                <div class="penalti">
                                    <strong>{{ jogo.time_1_penalti }}</strong>{{ jogo.time_2_penalti }}
                                </div>
                                {% endif %}
                            {% endfor %}
                            {% endif %}

                            {% if not terceiro %}
                            <div class="jogo_final end-jogo">
                                <span> <b> 3° lugar </b>
                                    <br>31/08</span>
                                <ul>
                                    <li class="terceiro">
                                        <div class="nome-time home">
                                            <div>
                                                <div class="escudo">
                                                    <h5>RG</h5>
                                                </div>
                                                <p class="nome-time">Perdedor da semi 1</p>
                                            </div>
                                        </div>
{#                                        <span>2</span>#}
                                    </li>
                                    <li>
                                        <div class="nome-time home">
                                            <div>
                                                <div class="escudo">
                                                    <h5>RG</h5>
                                                </div>
                                                <p class="nome-time">Perdedor da semi 2</p>
                                            </div>
                                        </div>
{#                                        <span>2</span>#}
                                    </li>
                                </ul>
                            </div>

                            {% endif %}
                            {% for jogo in terceiro %}
                            <div class="jogo_final end-jogo">
                                <span> <b> 3° lugar </b>
                                    <br>{{ jogo.data }} - campo {{ jogo.local }}</span>
                                <ul>
                                    <li {% if jogo.placar_time_1 < jogo.placar_time_2 %}class="riscado"{% else %} class="terceiro"{% endif %}>
                                        <div class="nome-time home">
                                            <div>
                                                <div class="escudo">
                                                    <h5>{{ jogo.time_1.sigla }}</h5>
                                                </div>
                                                <p class="nome-time">{{ jogo.time_1.nome }}</p>
                                            </div>
                                        </div>
                                        <span>{{ jogo.placar_time_1 }}</span>
                                    </li>
                                    <li {% if jogo.placar_time_1 < jogo.placar_time_2 %}class="riscado"{% else %} class="terceiro"{% endif %}>
                                        <div class="nome-time home">
                                            <div>
                                                <div class="escudo">
                                                    <h5>{{ jogo.time_2.sigla }}</h5>
                                                </div>
                                                <p class="nome-time">{{ jogo.time_2.nome }}</p>
                                            </div>
                                        </div>
                                        <span>{{ jogo.placar_time_2 }}</span>
                                    </li>
                                </ul>
                                {% if jogo.penalti %}
                                <div class="penalti">
                                    <strong>{{ jogo.time_1_penalti }}</strong>{{ jogo.time_2_penalti }}
                                </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="trofeu">
                        <div class="jogo_trofeu">
                            <div class="img-trofeu">
                                <img src="{{ MEDIA_URL }}img/logo.png" height="286" width="286" alt="">
                            </div>
                            <h2 class="text-center">Campeão</h2>
                            <ul>
                                <li class="campeao">
                                    <div class="nome-time home">
                                        <div>
                                            <div class="escudo">
                                                <h5>RG</h5>
                                            </div>
                                            <p class="nome-time">Campeão</p>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

{% endblock %}
