{% extends 'componentes/base.html' %}
{% block content %}
<section class="mb">
    <div class="row">
        <div class="large-9 medium-9 small-12 columns">

            <section class="times mb">
                <div class="titulo-block">
                    <a href="{% url 'galerias' %}">
                        <h2 class="titulo-block">Galeria de fotos</h2>
                    </a>
                    <div></div>
                </div>
                <h4 class="title-categ">{{ album.titulo }}</h4>
                <ul class="list-fotos clearing-thumbs small-block-grid-3 medium-block-grid-5 large-block-grid-6" data-clearing>
                  {% for foto in album.fotos.all %}
                  <li><a href="{{ MEDIA_URL }}{{ foto.foto }}"><img data-caption="{{ foto.legenda }}" src="{{ foto.get_thumb }}"></a></li>
                  {% endfor %}
                </ul>


                <div class="row">
                        <div class="large-12 medium-12 columns">

                            <div class="titulo-block">
                                <a href="">
                                    <h2 class="titulo-block">comente</h2>
                                </a>

                                <div></div>
                            </div>
                            <div class="comentarios mobile-off">
                                <div class="fb-comments" data-href="www.rockgol.com.br{{ request.path }}" data-width="870" data-numposts="5" data-colorscheme="light"></div>
                            </div>
                        </div>
                    </div>
            </section>

        </div>
        {% include 'componentes/sidebar.html' %}
    </div>
</section>
    <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
{% endblock %}