{% extends 'componentes/base.html' %}

{% block content %}
    <section class="torneios exposicoes mb">
        <div class="row">
            <div class="large-6 medium-6 small-12 columns">
                <div class="titulo-block">
                    <a href="{% url 'modalidades' %}">
                        <h2 class="titulo-block">torneios</h2>
                    </a>

                    <div></div>
                </div>
                <ul class="list-block small-block-grid-2 medium-block-grid-2 large-block-grid-2">
                    {% for modalidade in campeonato %}
                        <li>
                            <a href="{{ modalidade.get_absolute_url }}">
                                <img src="{{ modalidade.get_imagem_cortada }}" height="150" width="270" alt="">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="large-6 medium-6 small-12 columns">
                <div class="titulo-block">
                    <a href="{% url 'modalidades' %}">
                        <h2 class="titulo-block">exposições/treinos</h2>
                    </a>

                    <div></div>
                </div>
                <ul class="list-block small-block-grid-2 medium-block-grid-2 large-block-grid-2">
                    {% for treino in treinos %}
                        <li>
                            <a href="{{ treino.get_absolute_url }}">
                                <img src="{{ treino.get_imagem_cortada }}" alt="{{ treino.nome }}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <section class="mb">
    <div class="row">
    <div class="large-9 medium-9 small-12 columns">
    {% if banner_medio %}
        <section class="banner mb hide-for-small">
            <a href="{{ banner_medio.url }}">
                <img src="{{ MEDIA_URL }}{{ banner_medio.arquivo }}" height="113" width="" alt="">
            </a>
        </section>
    {% endif %}
    <section class="noticias mb">
        <div class="titulo-block">
            <a href="{% url 'noticias' %}">
                <h2 class="titulo-block">notícias</h2>
            </a>

            <div></div>
        </div>
        <div class="row">
            <div class="large-6 medium-6 small-12 columns">
                <div class="big-news">
                    <a href="{{ noticias.0.get_absolute_url }}">

                        <img src="{{ noticias.0.get_imagem_listagem }}" alt="{{ noticias.0.titulo }}">

                        <div class="hat">
                            <p>{{ noticias.0.titulo }}</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="large-6 medium-6 small-12 columns">
                <div class="no-img-news">
                    <a href="{{ noticias.1.get_absolute_url }}">
                        <h5>{{ noticias.1.titulo }}</h5>

                        <p>{{ noticias.1.subtitulo }}</p>
                    </a>
                </div>
                <div class="no-img-news">
                    <a href="{{ noticias.2.get_absolute_url }}">
                        <h5>{{ noticias.2.titulo }}</h5>

                        <p>{{ noticias.2.titulo }}</p>
                    </a>
                </div>
                <a href="{% url 'noticias' %}" class="button small radius">VER MAIS</a>
            </div>
        </div>
    </section>
    <section class="times mb">
    <div class="titulo-block">
            <h2 class="titulo-block">times</h2>

        <div></div>
    </div>
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <h4 class="title-categ">futebol masculino</h4>
            <ul class="list-grupo small-block-grid-2 medium-block-grid-2 large-block-grid-2">
                {% if tabelas_jogos_masculino_grupo_a %}
                    <li>
                        <div class="border-green">
                            <ul class="times-grupo">
                                <li class="valor-grupo">grupo a</li>
                                {% for equipe in tabelas_jogos_masculino_grupo_a %}
                                    <li class="valor-time">
                                        <a href="{{ equipe.time.get_absolute_url }}">
                                            <div class="escudo">
                                                <h5>{{ equipe.time.sigla }}</h5>

                                                <div class="bubble">
                                                    <p>{{ equipe.time.nome }}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endif %}
                {% if tabelas_jogos_masculino_grupo_b %}
                    <li>
                        <div class="border-green">
                            <ul class="times-grupo">
                                <li class="valor-grupo">grupo b</li>
                                {% for equipe in tabelas_jogos_masculino_grupo_b %}
                                    <li class="valor-time">
                                        <a href="{{ equipe.time.get_absolute_url }}">
                                            <div class="escudo">
                                                <h5>{{ equipe.time.sigla }}</h5>

                                                <div class="bubble">
                                                    <p>{{ equipe.time.nome }}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endif %}
                {% if tabelas_jogos_masculino_grupo_c %}
                    <li>
                        <div class="border-green">
                            <ul class="times-grupo">
                                <li class="valor-grupo">grupo c</li>
                                {% for equipe in tabelas_jogos_masculino_grupo_c %}
                                    <li class="valor-time">
                                        <a href="{{ equipe.time.get_absolute_url }}">
                                            <div class="escudo">
                                                <h5>{{ equipe.time.sigla }}</h5>

                                                <div class="bubble">
                                                    <p>{{ equipe.time.nome }}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endif %}
                {% if tabelas_jogos_masculino_grupo_d %}
                    <li>
                        <div class="border-green">
                            <ul class="times-grupo">
                                <li class="valor-grupo">grupo d</li>
                                {% for equipe in tabelas_jogos_masculino_grupo_d %}
                                    <li class="valor-time">
                                        <a href="{{ equipe.time.get_absolute_url }}">
                                            <div class="escudo">
                                                <h5>{{ equipe.time.sigla }}</h5>

                                                <div class="bubble">
                                                    <p>{{ equipe.time.nome }}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
    <div class="large-12 medium-12 small-12 columns">
    <h4 class="title-categ">futebol feminino</h4>
    <ul class="list-grupo small-block-grid-2 medium-block-grid-2 large-block-grid-2">
    {% if tabelas_jogos_feminino_grupo_a %}
    <li>
        <div class="border-green">
            <ul class="times-grupo">
                <li class="valor-grupo">grupo a</li>
                {% for equipe in tabelas_jogos_feminino_grupo_a %}
                <li class="valor-time">
                    <a href="{{ equipe.time.get_absolute_url }}">
                        <div class="escudo">
                            <h5>{{ equipe.time.sigla }}</h5>

                            <div class="bubble">
                                <p>{{ equipe.time.nome }}</p>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endif %}

    {% if tabelas_jogos_feminino_grupo_b %}
    <li>
        <div class="border-green">
            <ul class="times-grupo">
                <li class="valor-grupo">grupo b</li>
                {% for equipe in tabelas_jogos_feminino_grupo_b %}
                <li class="valor-time">
                    <a href="{{ equipe.time.get_absolute_url }}">
                        <div class="escudo">
                            <h5>{{ equipe.time.sigla }}</h5>

                            <div class="bubble">
                                <p>{{ equipe.time.nome }}</p>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endif %}

    {% if tabelas_jogos_feminino_grupo_c %}
    <li>
        <div class="border-green">
            <ul class="times-grupo">
                <li class="valor-grupo">grupo c</li>

                {% for equipe in tabelas_jogos_feminino_grupo_c %}
                <li class="valor-time">
                    <a href="{{ equipe.time.get_absolute_url }}">
                        <div class="escudo">
                            <h5>{{ equipe.time.sigla }}</h5>

                            <div class="bubble">
                                <p>{{ equipe.time.nome }}</p>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </li>
    {% endif %}

    {% if tabelas_jogos_feminino_grupo_d %}
    <li>
        <div class="border-green">
            <ul class="times-grupo">
                <li class="valor-grupo">grupo d</li>
                {% for equipe in tabelas_jogos_feminino_grupo_d %}
                <li class="valor-time">
                    <a href="{{ equipe.time.get_absolute_url }}">
                        <div class="escudo">
                            <h5>{{ equipe.time.sigla }}</h5>

                            <div class="bubble">
                                <p>{{ equipe.time.nome }}</p>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endif %}

    </ul>
    </div>
    </div>
    </section>
    {% if album %}
        <section class="galeria">
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <div class="titulo-block">
                        <a href="{% url 'galerias' %}">
                            <h2 class="titulo-block">galeria de fotos</h2>
                        </a>
                        <div></div>
                    </div>
                    <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">
                        <li>
                            <div class="item-galeria">
                                <a href="{{ album.get_absolute_url }}">
                                    <img src="{{ album.get_big }}" alt="{{ album.titulo }}">

                                    <div class="titulo-album">
                                        <p>{{ album.titulo }}</p>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    {% endif %}
    </div>

    {% include 'componentes/sidebar.html' %}
    </div>
    </section>

{% endblock %}