{% extends 'componentes/base.html' %}

{% block content %}
    <section class="mb">
        <div class="row">
        <div class="large-9 medium-9 small-12 columns">
        <section class="galeria">
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <div class="titulo-block">
                            <h2 class="titulo-block">galeria de fotos</h2>

                        <div></div>
                    </div>
                    <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">
                        {% for album in object_list %}
                        <li>
                            <div class="item-galeria">
                                <a href="{{ album.get_absolute_url }}">
                                    <img src="{{ album.get_big }}" alt="{{ album.titulo }}">

                                    <div class="titulo-album">
                                        <p>{{ album.titulo }}</p>
                                    </div>
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>

    {% include 'componentes/sidebar.html' %}
    </div>
    </section>

{% endblock %}