{% extends 'componentes/base.html' %}
{% block content %}
    <section class="mb">
    <div class="row">
    <div class="large-9 medium-9 small-12 columns">
    <section class="conta mb">
    <div class="titulo-block">
        <a href="">
            <h2 class="titulo-block">Minha conta</h2>
        </a>

        <div></div>
    </div>
    <div class="row">
    <div class="large-12 medium-12 small-12 columns">
    <ul class="tabs tab-conta" data-tab>
        <li class="tab-title btn-aba"><a href="#panel2-1"><i class="fi-widget"></i> conta</a>
        </li>
        <li class="tab-title btn-aba"><a href="#panel2-2"><i class="fi-widget"></i> time</a>
        </li>
        <li class="tab-title btn-aba"><a href="#panel2-3"><i class="fi-widget"></i> jogadores</a>
        </li>
    </ul>

    <div class="tabs-content">
    <div class="content " id="panel2-1">
            <div class="box-form">
                <h4>dados da conta</h4>

                <div class="row">
                    <div class="large-5 columns">
                        <label>Nome
                            <input type="text" name="nome" value="{{ request.user.nome }}" disabled/>
                        </label>
                    </div>
                    <div class="large-4 columns">
                        <label>E-mail
                            <input type="email" name="email" value="{{ request.user.email }}" disabled/>
                        </label>
                    </div>
                    <div class="large-3 columns">
                        <label>Data de Nascimento
                            <input type="text" name="dt_nasc" value="{{ request.user.dt_nasc }}" disabled/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        <label>CPF
                            <input type="text" name="cpf" value="{{ request.user.cpf }}" disabled/>
                        </label>
                    </div>
                    <div class="large-4 columns">
                        <label>RG
                            <input type="text" name="rg" value="{{ request.user.rg }}" disabled/>
                        </label>
                    </div>
                    <div class="large-4 columns">
                        <label>Telefone
                            <input type="text" name="telefone" value="{{ request.user.telefone }}" disabled/>
                        </label>
                    </div>
                </div>
                <div class="row">
                   <div class="large-12 columns">
                        <label>Endereço
                            <input type="text" name="endereco" value="{{ request.user.endereco }}" disabled/>
                        </label>
                    </div>
                </div>
            </div>
            <form action="" method="post">
                {% csrf_token %}
            <div class="box-form">
                <h4>alterar senha</h4>

                <div class="row">
                    <div class="large-6 columns">
                        <label>Nova senha
                            <input type="password" name="password1" placeholder="Digite sua senha antiga">
                        </label>
                    </div>
                    <div class="large-6  columns">
                        <label>Confirme nova senha
                            <input type="password" name="password2" placeholder="Digite sua nova senha">
                        </label>
                    </div>
                </div>


            </div>
            <button type="submit" class="button small radius">Salvar</button>
        </form>
    </div>
    <div class="content" id="panel2-2">
        {% if not time %}
        <form method="POST" action="{% url 'minha-conta' %}#panel2-2">{% csrf_token %}
            <div class="box-form">
                <h4>dados do time</h4>
                <input value="{{ request.user.id }}" type="hidden" name="time-responsavel"/>
                <div class="row">
                    <div class="large-6 columns">
                        <label>Nome
                            {{ form_time.nome }}
                            {{ form_time.nome.errors }}
                        </label>
                    </div>
                    <div class="large-3 columns">
                        <label>Sigla
                            {{ form_time.sigla }}
                            {{ form_time.sigla.errors }}
                        </label>
                    </div>
                    <div class="large-3 columns">
                        <label>Cor do Uniforme
                            {{ form_time.cor_uniforme }}
                            {{ form_time.cor_uniforme.errors }}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <label>Modalidade
                            {{ form_time.tipo }}
                            {{ form_time.tipo.errors }}
                        </label>
                    </div>
                    <div class="large-6 columns">
                        <label>Categoria
                            {{ form_time.genero }}
                            {{ form_time.genero.errors }}
                        </label>
                    </div>
                </div>
            </div>

            <button type="submit" class="button small radius">Salvar</button>
        </form>
        {% else %}
             <div class="box-form">
                <h4>dados do time</h4>
                <input value="{{ request.user.id }}" type="hidden" name="time-responsavel"/>
                <div class="row">
                    <div class="large-6 columns">
                        <label>Nome
                            <input type="text" name="nome" value="{{ time.nome }}" disabled/>
                        </label>
                    </div>
                    <div class="large-3 columns">
                        <label>Sigla
                            <input type="text" name="sigla" value="{{ time.sigla }}" disabled/>
                        </label>
                    </div>
                    <div class="large-3 columns">
                        <label>Cor do Uniforme
                            <input type="text" name="cor_uniforme" value="{{ time.cor_uniforme }}" disabled/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <label>Modalidade
                            <input type="text" name="tipo" value="{{ time.get_tipo_display }}" disabled/>
                        </label>
                    </div>
                    <div class="large-6 columns">
                        <label>Categoria
                            <input type="text" name="genero" value="{{ time.get_genero_display }}" disabled/>
                        </label>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="content" id="panel2-3">
    <div class="box-form">
    <h4>Dados dos jogadores</h4>
    <table>
        <thead>
        <tr>
            <th width="50">Nº</th>
            <th width="90" class="text-center">Foto</th>
            <th>Nome</th>
            <th width="90" class="text-center">Idade</th>
            <th width="120">Visualizar</th>
        </tr>
        </thead>
        <tbody>
        {% for jogador in jogadores %}
        <tr>
            <td class="text-center">{{ forloop.counter }}</td>
            <td class="text-center">
                <img src="{{ jogador.get_imagem_cortada }}" alt="{{ jogador.nome }}">
            </td>
            <td>{{ jogador.nome }}</td>
            <td class="text-center">{{ jogador.get_idade }}</td>
            <td class="text-center">
                <a href="#" class="button tiny" data-reveal-id="player"><i class="fi-eye size-21"></i></a>
                <div id="player" class="reveal-modal medium" data-reveal>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="box-form">
                                <div class="titulo-block">
                                    <a href="">
                                        <h2 class="titulo-block">visualizar jogador</h2>
                                    </a>
                                    <div></div>
                                </div>
                                <div class="row">
                            <div class="large-6 columns">
                                <label>Nome
                                    <input type="text" name="nome" value="{{ jogador.nome }}" disabled/>
                                </label>
                            </div>
                            <div class="large-6 columns">
                                <label>Dada de nascimento
                                    <input type="text" name="data_nascimento" value="{{ jogador.data_nascimento }}" disabled/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                <label>CPF
                                    <input type="text" name="cpf" value="{{ jogador.cpf }}" disabled/>
                                </label>
                            </div>
                            <div class="large-6 columns">
                                <label>RG
                                    <input type="text" name="rg" value="{{ jogador.rg }}" disabled/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                <label>Telefone
                                    <input type="text" name="telefone" value="{{ jogador.telefone }}" disabled/>
                                </label>
                            </div>
                            <div class="large-6 columns">
                                <label>E-mail
                                    <input type="text" name="email" value="{{ jogador.email }}" disabled/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                <label>Nome da Banda
                                    <input type="text" name="nome_banda" value="{{ jogador.nome_banda }}" disabled/>
                                </label>
                            </div>
                            <div class="large-6 columns">
                                <label>Instrumento
                                    <input type="text" name="instrumento" value="{{ jogador.instrumento }}" disabled/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="box-form">
                        <div class="titulo-block">
                            <a href="">
                                <h2 class="titulo-block">Social</h2>
                            </a>

                            <div></div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns">
                                <div class="row collapse">
                                    <div class="small-3 large-2 columns">
                                        <span class="prefix"><i
                                                class="fi-social-facebook"></i>
                                        </span>
                                    </div>
                                    <div class="small-9 large-10 columns">
                                        <input type="text" name="facebook" value="{{ jogador.facebook }}" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="large-4 columns">
                                <div class="row collapse">
                                    <div class="small-3 large-2 columns">
                                        <span class="prefix"><i
                                                class="fi-social-instagram"></i>
                                        </span>
                                    </div>
                                    <div class="small-9 large-10 columns">
                                        <input type="text" name="instagram" value="{{ jogador.instagram }}" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="large-4 columns">
                                <div class="row collapse">
                                    <div class="small-3 large-2 columns">
                                        <span class="prefix"><i
                                                class="fi-social-twitter"></i>
                                        </span>
                                    </div>
                                    <div class="small-9 large-10 columns">
                                        <input type="text" name="twitter" value="{{ jogador.twitter }}" disabled/>
                                    </div>
                                </div>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="close-reveal-modal">&#215;</a>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="#" class="button small " data-reveal-id="add-player"><i class="fi-plus"></i> Adicionar jogador</a>

    <div id="add-player" class="reveal-modal medium" data-reveal>
        <div class="row">
            <div class="large-12 columns">
                <form method="POST" action="{% url 'minha-conta' %}" id="add-jogador" enctype="multipart/form-data" accept-charset="utf-8">
                    {% csrf_token %}
                    <div class="box-form">
                        <div class="titulo-block">
                            <a href="">
                                <h2 class="titulo-block">Adicionar jogador</h2>
                            </a>
                        </div>

                        <div data-alert id="mensagem-feedback" class="mensagem-hidden alert-box radius">
                            <a href="#" class="close">&times;</a>
                        </div>
                        <input value="{{ time.id }}" type="hidden" name="jogador-time"/>
                        <div class="row">
                            <div class="large-6 columns">
                                <label>Nome*
                                    {{ form_jogador.nome }}
                                </label>
                            </div>
                            <div class="large-6 columns">
                                <label>Dada de nascimento*
                                    {{ form_jogador.data_nascimento }}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                <label>CPF*
                                    {{ form_jogador.cpf }}
                                </label>
                            </div>
                            <div class="large-6 columns">
                                <label>RG*
                                    {{ form_jogador.rg }}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                <label>Telefone
                                    {{ form_jogador.telefone }}
                                </label>
                            </div>
                            <div class="large-6 columns">
                                <label>E-mail*
                                    {{ form_jogador.email }}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns">
                                <label>Foto*
                                    {{ form_jogador.imagem }}
                                </label>
                            </div>
                            <div class="large-4 columns">
                                <label>Nome da Banda
                                    {{ form_jogador.nome_banda }}
                                </label>
                            </div>
                            <div class="large-4 columns">
                                <label>Instrumento
                                    {{ form_jogador.instrumento }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="box-form">
                        <div class="titulo-block">
                            <a href="">
                                <h2 class="titulo-block">Social</h2>
                            </a>

                            <div></div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns">
                                <div class="row collapse">
                                    <div class="small-3 large-2 columns">
                                        <span class="prefix"><i
                                                class="fi-social-facebook"></i>
                                        </span>
                                    </div>
                                    <div class="small-9 large-10 columns">
                                        {{ form_jogador.facebook }}
                                    </div>
                                </div>
                            </div>
                            <div class="large-4 columns">
                                <div class="row collapse">
                                    <div class="small-3 large-2 columns">
                                        <span class="prefix"><i
                                                class="fi-social-instagram"></i>
                                        </span>
                                    </div>
                                    <div class="small-9 large-10 columns">
                                        {{ form_jogador.instagram }}
                                    </div>
                                </div>
                            </div>
                            <div class="large-4 columns">
                                <div class="row collapse">
                                    <div class="small-3 large-2 columns">
                                        <span class="prefix"><i
                                                class="fi-social-twitter"></i>
                                        </span>
                                    </div>
                                    <div class="small-9 large-10 columns">
                                        {{ form_jogador.twitter }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="button small radius" value="Enviar">
{#                    <input type="button" class="button small radius" value="Enviar" onclick="adicionar_jogador_ajax();">#}
                </form>
            </div>
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>

    </div>
    </div>
    </div>
    </div>
    </div>
    </section>

    </div>

    {% include 'componentes/sidebar.html' %}
    </div>
    </section>
{% endblock %}

{% block extrajs %}
<script src="{{ MEDIA_URL }}js/core/core.js"></script>
<script type="text/javascript" src="/media/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#id_jogador-data_nascimento").mask("99/99/9999");
    $("#id_jogador-telefone").focusout(function(){
        var phone, element;
        element = $(this);
        element.unmask();
        phone = element.val().replace(/\D/g, '');
        if(phone.length > 10) {
            element.mask("(99) 99999-999?9");
        } else {
            element.mask("(99) 9999-9999?9");
        }
    }).trigger('focusout');
    $("#id_jogador-cpf").mask("999.999.999-99");
});

</script>
{% endblock %}