{% extends 'componentes/base.html' %}
{% block content %}
    <section class="mb">
        <div class="row">
            <div class="large-9 medium-9 small-12 columns">

                <section class="contato mb">
                    <div class="titulo-block">
                        <a href="">
                            <h2 class="titulo-block">Modalidades</h2>
                        </a>

                        <div></div>
                    </div>

                    <div class="box-bottom">
                        <h4 class="title-categ">Torneios</h4>
                        <ul class="list-block small-block-grid-2 medium-block-grid-2 large-block-grid-2">
                            {% for campeonato in object_list %}
                            <li>
                                <a href="{% url "segunda_etapa_listagem" campeonato.campeonato_slug %}"><img src="{{ campeonato.get_imagem_listagem }}" alt="{{ campeonato.nome }}"></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </section>

            </div>

            {% include 'componentes/sidebar.html' %}

        </div>

    </section>
{% endblock %}