{% extends 'componentes/base.html' %}
{% block content %}
    <section class="mb">
        <div class="row">
            <div class="large-9 medium-9 small-12 columns">

                <section class="times mb">
                    <div class="titulo-block">
                        <a href="{% url 'noticias' %}">
                            <h2 class="titulo-block">Notícia</h2>
                        </a>

                        <div></div>
                    </div>

                    <div class="articleConteudo">
                        <article>
                            <div id="articleDate">
                                <p>Postado em
                                    <!--DATA-->{{ object.data_publicacao|date:'d/m/y' }}<!--/DATA-->
                                </p>
                            </div>

                            <div id="articleTitle">
                                <h3>{{ object.titulo }}</h3>
                            </div>
                            <h4 class="subtitulo">
                                {{ object.subtitulo }}
                            </h4>

                            <div class="article_recommend mobile-off">
                                <div class="fb-like" data-href="www.rockgol.com.br/{{ object.get_absolute_url }}" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
                            </div>

                            <div class="fotodestaque">
                                <img src="{{ object.get_imagem_interna }}"
                                     alt="{{ object.titulo }}">
                            </div>

                            <div class="articleTexto">
                                <p>{{ object.texto|safe }}</p>
                            </div>

                            {% if noticia.fonte %}
                            <div class="fonte">
                              <p><strong>Fonte:</strong> {{ noticia.fonte }}</p>
                            </div>
                            {% endif %}

                            <div class="row">
                                <div class="large-12 medium-12 columns">

                                    <div class="titulo-block">
                                        <a href="">
                                            <h2 class="titulo-block">comente</h2>
                                        </a>

                                        <div></div>
                                    </div>
                                    <div class="comentarios mobile-off">
                                        <div class="fb-comments" data-href="www.rockgol.com.br/{{ object.get_absolute_url }}" data-width="870" data-numposts="5" data-colorscheme="light"></div>
                                    </div>
                                </div>
                            </div>

                            <hr>
                        </article>
                    </div>


                </section>

            </div>

            {% include 'componentes/sidebar.html' %}
        </div>
    </section>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>

{% endblock %}