{% extends 'componentes/base.html' %}
{% block content %}
    <section class="mb">
        <div class="row">
            <div class="large-9 medium-9 small-12 columns">

                <section class="noticias mb">
                    <div class="titulo-block">
                        <a href="">
                            <h2 class="titulo-block">notícias</h2>
                        </a>

                        <div></div>
                    </div>
                    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
                        {% for noticia in object_list|slice:"0:4" %}
                        <li>
                            <div class="big-news">
                                <a href="{{ noticia.get_absolute_url }}">

                                    <img src="{{ noticia.get_imagem_listagem }}" alt="">

                                    <div class="hat">
                                        <p>{{ noticia.titulo }}</p>
                                    </div>
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>

                    <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
                        {% for noticia in object_list|slice:"4:8" %}
                        <li>
                            <div class="no-img-news">
                                <h5>{{ noticia.titulo }}</h5>

                                <p>{{ noticia.subtitulo }}</p>
                                <a href="{{ noticia.get_absolute_url }}" class="button small radius">VER MAIS</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% if is_paginated %}
                        <div class="large-12 medium-12 small-12columns">
                            <ul class="pagination pages">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">◀</a></li>
                            {% else %}
                                <li class="arrow unavailable"><a href="">◀</a></li>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                                {% ifequal num page_obj.number %}
                                    <li class="unavailable"><a href="">{{ num }}</a></li>
                                {% else %}
                                    {% if num <= page_obj.number|add:2 and num >= page_obj.number|add:-2 %}
                                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                {% endifequal %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="arrow"><a href="?page={{ page_obj.next_page_number }}">▶</a></li>
                            {% else %}
                                <li class="arrow unavailable"><a href="">▶</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                </section>

            </div>

            {% include 'componentes/sidebar.html' %}
        </div>
    </section>
{% endblock %}