{% extends 'componentes/base.html' %}
{% block content %}
    <section class="mb">
        <div class="row">
            <div class="large-9 medium-9 small-12 columns">

                <section class="organizacao mb">
                    <div class="titulo-block">
                        <a href="">
                            <h2 class="titulo-block">Organização</h2>
                        </a>

                        <div></div>
                    </div>
                    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
                        {% for pessoa in object_list %}
                        <li>
                            <div class="item-org">
                                <div class="img-org">
                                    <img src="{{ pessoa.get_imagem_cortada }}" alt="{{ pessoa.nome }}">
                                </div>
                                <div class="info-org">
                                    <h4>{{ pessoa.nome }}</h4>

                                    <p>{{ pessoa.cargo }}</p>
                                    <ul class="social-top">
                                        {% if pessoa.facebook %}
                                        <li>
                                            <a href="{{ pessoa.facebook }}"><i class="fi-social-facebook"></i></a>
                                        </li>
                                        {% endif %}
                                        {% if pessoa.twitter %}
                                        <li>
                                            <a href="{{ pessoa.twitter }}"><i class="fi-social-twitter"></i></a>
                                        </li>
                                        {% endif %}
                                        {% if pessoa.instagram %}
                                        <li>
                                            <a href="{{ pessoa.instagram }}"><i class="fi-social-instagram"></i></a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>


                </section>

            </div>

            {% include 'componentes/sidebar.html' %}
        </div>
    </section>
{% endblock %}