{% extends "componentes/base.html" %}
{% block content %}
    <section class="mb">
        <div class="row">
            <div class="large-9 medium-9 small-12 columns">

                <section class="times mb">
                    <div class="titulo-block">
                        <a href="">
                            <h2 class="titulo-block">tabela de jogos</h2>
                        </a>
                        <div></div>
                    </div>
                    <div class="box-rodada">
                        <h4 class="title-categ">Jogos do 1º domingo</h4>
                        <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">
                            {% for jogos in jogos_1_domingo %}
                            <li>
                                <div class="box-jogos">
                                    <div class="row">
                                        <div class="large-3 medium-2 small-12 columns">
                                            <div class="info-jogo">
                                                <p>{{ jogos.data }} - {{ jogos.get_local_display }} {% if jogos.finalizado %}- (Finalizado){% endif %}</p>
                                            </div>
                                        </div>
                                        <div class="large-9 medium-9 small-12 columns">
                                            <div class="row">
                                                <div class="large-5 medium-5 small-5 columns">
                                                    <div class="nome-time home">
                                                        <a href="{{ jogos.time_1.get_absolute_url }}"><div>
                                                            <div class="escudo">
                                                                <h5>{{ jogos.time_1.sigla }}</h5>
                                                            </div>
                                                            <p class="nome-time">{{ jogos.time_1.nome }}</p>
                                                        </div></a>
                                                    </div>
                                                </div>
                                                <div class="large-2 medium-2 small-2 columns">
                                                    <div class="resultado text-center">
                                                        <b>{{ jogos.placar_time_1 }}</b> x <b>{{ jogos.placar_time_2 }}</b>
                                                    </div>
                                                </div>
                                                <div class="large-5 medium-5 small-5 columns">
                                                    <div class="nome-time away">
                                                        <a href="{{ jogos.time_2.get_absolute_url }}"><div>
                                                            <div class="escudo">
                                                                <h5>{{ jogos.time_2.sigla }}</h5>
                                                            </div>
                                                            <p class="nome-time">{{ jogos.time_2.nome }}</p>
                                                        </div></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </section>

                <section class="tabela mb">
                    <div class="titulo-block">
                        <a href="">
                            <h2 class="titulo-block">pontuação</h2>
                        </a>
                        <div></div>
                    </div>
                    <div class="row">
                        <div class="large-12 medium-12 small-12 columns">
                            <div class="box-tabela-pts">
                                <h4 class="title-categ">grupo a</h4>
                                <div class="pontuacao">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th width="200">Equipe</th>
                                                <th width="20">J</th>
                                                <th width="20">V</th>
                                                <th width="20">E</th>
                                                <th width="20">D</th>
                                                <th width="20">GP</th>
                                                <th width="20">GC</th>
                                                <th width="20">Pts</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for time in times_classificados_fase_final %}
                                            <tr>
                                                <td>
                                                    <a href="{{ time.time.get_absolute_url }}"><div>
                                                        <div class="escudo">
                                                            <h5>{{ time.time.sigla }}</h5>
                                                        </div>
                                                        <p class="nome-time">{{ time.time.nome }}</p>
                                                    </div></a>
                                                </td>
                                                <td>{{ time.jogos }}</td>
                                                <td>{{ time.vitorias }}</td>
                                                <td>{{ time.empates }}</td>
                                                <td>{{ time.derrotas }}</td>
                                                <td>{{ time.gols_pro }}</td>
                                                <td>{{ time.gols_contra }}</td>
                                                <td>{{ time.pontos }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 medium-12 columns">

                            <div class="titulo-block">
                                <a href="">
                                    <h2 class="titulo-block">comente</h2>
                                </a>

                                <div></div>
                            </div>
                            <div class="comentarios mobile-off">
                                <div class="fb-comments" data-href="www.rockgol.com.br{{ request.path }}" data-width="870" data-numposts="5" data-colorscheme="light"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            {% include "componentes/sidebar.html" %}
        </div>
    </section>
    <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
{% endblock %}