{% extends 'componentes/base.html' %}
{% block content %}
    <section class="mb">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">

                <section class="times mb">
                    <div class="titulo-block">
                        <a href="">
                            <h2 class="titulo-block">Nossos parceiros</h2>
                        </a>

                        <div></div>
                    </div>
                    <ul class="small-block-grid-2 medium-block-grid-6 large-block-grid-6">
                        {% for apoio in object_list %}
                        <li>
                            <div class="item-apoio">
                                <a href="{{ apoio.get_absolute_url }}">
                                    <div class="img-apoio">
                                        <img src="{{ apoio.get_imagem_listagem }}" alt="{{ apoio.titulo }}">
                                    </div>
                                    <div class="info-apoio">
                                        <h4>{{ apoio.titulo }}</h4>
                                    </div>

                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
    </section>
{% endblock %}