{% extends 'componentes/base.html' %}
{% block content %}
<section class="mb">
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <section class="times mb">
                <div class="titulo-block">
                    <a href="{% url 'parceiros' %}">
                        <h2 class="titulo-block">Nossos parceiros</h2>
                    </a>
                    <div></div>
                </div>
                <h4 class="title-categ">{{ object.titulo }}</h4>
                <div class="row">
                    <div class="large-4 medium-4 small-12 columns">
                        <div class="logo-parceiro text-center">
                            <img src="{{ object.get_imagem_interna }}" alt="{{ object.titulo }}">
                        </div>
                    </div>
                    <div class="large-8 medium-8 small-12 columns">
                        <div class="info-parceiro">
                            <p>{{ object.descricao }}</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
{% endblock %}