<!DOCTYPE html>
<html>
<head>
    <title>Sorteio</title>
</head>
<body>
<h3><b>Nome: </b>{{ sorteado.nome }}</h3>
<h3><b>Email: </b>{{ sorteado.email }}</h3>
<h3><b>Telefone: </b>{{ sorteado.telefone }}</h3>
</body>
</html>