{% extends 'componentes/base.html' %}
{% block content %}
    <section class="mb">
    <div class="row">
    <div class="large-9 medium-9 small-12 columns">

    <section class="times mb">
    <div class="titulo-block">
        <a href="">
            <h2 class="titulo-block">Escalação dos times</h2>
        </a>
    </div>
    <h4 class="title-categ">{{ object.nome }}</h4>
    <ul class="small-block-grid-2 medium-block-grid-5 large-block-grid-5">
        {% for jogador in object.jogador_set.all %}
        <li>
            <div class="item-play">
                <div class="img-play">
                    <img src="{{ jogador.get_imagem_cortada }}" alt="">
                </div>
                <div class="info-play">
                    <h4>{{ jogador.nome|truncatewords:"2" }}</h4>

                    <p>Idade:{{ jogador.get_idade }} Anos</p>
                    <ul class="social-top">
                        <li>
                            {% if jogador.facebook %}
                            <a href="{{ jogador.facebook }}"><i class="fi-social-facebook"></i></a>
                            {% else %}
                            <a href="https://www.facebook.com/CurtaRockGolTeresina"><i class="fi-social-facebook"></i></a>
                            {% endif %}
                        </li>
                        <li>
                            {% if jogador.twitter %}
                            <a href="{{ jogador.twitter }}"><i class="fi-social-twitter"></i></a>
                            {% else %}
                            <a href="https://twitter.com/RockGolTeresina"><i class="fi-social-twitter"></i></a>
                            {% endif %}
                        </li>
                        <li>
                            {% if jogador.instagram %}
                            <a href="{{ jogador.instagram }}"><i class="fi-social-instagram"></i></a>
                            {% else %}
                            <a href="http://instagram.com/rockgolteresina"><i class="fi-social-instagram"></i></a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    </section>

    <section class="tabela mb">
        <div class="titulo-block">
            <a href="">
                <h2 class="titulo-block">pontuação</h2>
            </a>

            <div></div>
        </div>
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                <h4 class="title-categ">{{ time_tabela.get_grupo_display }}</h4>
                <div class="pontuacao">
                    <table>
                        <thead>
                            <tr>
                                <th width="200">Equipe</th>
                                <th width="20">J</th>
                                <th width="20">V</th>
                                <th width="20">E</th>
                                <th width="20">D</th>
                                <th width="20">GP</th>
                                <th width="20">GC</th>
                                <th width="20">Pts</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for time in todos_times_tabela %}
                            <tr>
                                <td>
                                    <a href="{{ time.time.get_absolute_url }}"><div>
                                        <div class="escudo">
                                            <h5>{{ time.time.sigla }}</h5>
                                        </div>
                                        <p class="nome-time">{{ time.time.nome }}</p>
                                    </div></a>
                                </td>
                                <td>{{ time.jogos }}</td>
                                <td>{{ time.vitorias }}</td>
                                <td>{{ time.empates }}</td>
                                <td>{{ time.derrotas }}</td>
                                <td>{{ time.gols_pro }}</td>
                                <td>{{ time.gols_contra }}</td>
                                <td>{{ time.pontos }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
                        <div class="large-12 medium-12 columns">

                            <div class="titulo-block">
                                <a href="">
                                    <h2 class="titulo-block">comente</h2>
                                </a>

                                <div></div>
                            </div>
                            <div class="comentarios mobile-off">
                                <div class="fb-comments" data-href="www.rockgol.com.br{{ request.path }}" data-width="870" data-numposts="5" data-colorscheme="light"></div>
                            </div>
                        </div>
                    </div>
    </section>

    </div>

    {% include 'componentes/sidebar.html' %}
    </div>
    </section>
     <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
{% endblock %}