{% extends 'componentes/base.html' %}
{% block content %}
    <section class="mb">
        <div class="row">
            <div class="large-9 medium-9 small-12 columns">

                <section class="contato mb">
                    <div class="titulo-block">
                        <a href="{% url 'modalidades' %}">
                            <h2 class="titulo-block">Treinos / Exposições</h2>
                        </a>

                        <div></div>
                    </div>

                    <h4 class="title-categ">{{ object.nome }}</h4>

                    <div class="img-treino text-center">
                        <img src="{{ object.get_imagem_cortada }}" alt="{{ object.nome }}">
                    </div>

                    <div class="descr-treino">
                        <p>{{ object.texto }}</p>
                    </div>

                    <div class="row">
                        <div class="large-12 medium-12 columns">

                            <div class="titulo-block">
                                <a href="">
                                    <h2 class="titulo-block">comente</h2>
                                </a>

                                <div></div>
                            </div>
                            <div class="comentarios mobile-off">
                                <div class="fb-comments" data-href="www.rockgol.com.br{{ request.path }}" data-width="870" data-numposts="5" data-colorscheme="light"></div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

            {% include 'componentes/sidebar.html' %}
        </div>
    </section>
    <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
{% endblock %}