{% load admin_static %}
{% load suit_tags %}{% load url from future %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="UTF-8">
    <title>Manage-CMS | Dashboard{% block title %}{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- bootstrap 3.0.2 -->
    <link href="{{ MEDIA_URL }}admin/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- font Awesome -->
    <link href="{{ MEDIA_URL }}admin/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!-- Ionicons -->
    <link href="{{ MEDIA_URL }}admin/css/ionicons.min.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/media/admin/img/manage.ico">
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE"/>{% endblock %}
    <!-- Theme style -->
    <link href="{{ MEDIA_URL }}admin/css/AdminLTE.css" rel="stylesheet" type="text/css"/>
    <link href="{{ MEDIA_URL }}admin/css/app.css" rel="stylesheet" type="text/css"/>
    {% block extracss %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
    {% block extrahead %}{% endblock %}
</head>

<body class="skin-black fixed">
    {% include "admin/includes/header.html" %}

    <div class="wrapper row-offcanvas row-offcanvas-left">
        {% include "admin/includes/menu.html" %}

        {% block content %}
        {% endblock %}
    </div>
    <!-- ./wrapper -->

    <!-- jQuery 2.0.2 -->
    <script src="{{ MEDIA_URL }}admin/js/jquery.min.js"></script>
    <!-- jQuery UI 1.10.3 -->
    <script src="{{ MEDIA_URL }}admin/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <script src="{{ MEDIA_URL }}admin/js/bootstrap.min.js" type="text/javascript"></script>


    <!-- AdminLTE App -->
    <script src="{{ MEDIA_URL }}admin/js/AdminLTE/app.js" type="text/javascript"></script>

    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="{{ MEDIA_URL }}admin/js/AdminLTE/dashboard.js" type="text/javascript"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="{{ MEDIA_URL }}admin/js/AdminLTE/demo.js" type="text/javascript"></script>
    {% block extrajs %}{% endblock %}

</body>
</html>