{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify suit_tags admin_urls admin_modify %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block content %}
    <aside class="right-side">
        <!-- Content Header (Page header) -->
            {% include "admin/includes/breadcrumbs_change_form.html" %}

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-xs-12">
                    <!-- general form elements disabled -->
                    {% block messages %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{% firstof message.tags 'success' %} alert-dismissable">
                                    <i class="fa fa-check"></i>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endblock messages %}

                    {% if errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <i class="fa fa-ban"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}
                                Please
                                correct the errors below.{% endblocktrans %}
                            {{ adminform.form.non_field_errors }}
                        </div>
                    {% endif %}

                    <form role="form" action="{{ form_url }}" id="{{ opts.module_name }}_form" method="post"
                          {% if has_file_field %}enctype="multipart/form-data" {% endif %}>
                        {% csrf_token %}
                        {% if is_popup %}<input type="hidden" name="_popup" value="1"/>{% endif %}

                        {% block field_sets %}
                            {% for fieldset in adminform %}
                                {% include "admin/includes/fieldset.html" with form=form %}
                            {% endfor %}
                        {% endblock %}
                        {% block after_field_sets %}{% endblock %}

                        {% block inline_field_sets %}
                            {% for inline_admin_formset in inline_admin_formsets %}
                                {% include inline_admin_formset.opts.template %}
                            {% endfor %}
                        {% endblock %}

                        {% block after_related_objects %}{% endblock %}
                        <div class="box-footer">
                            {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
                        </div>
                    </form>
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </aside><!-- /.right-side -->
{% endblock %}