{% extends "admin/base.html" %}
{% load i18n admin_static admin_list admin_urls suit_list suit_tags %}
{% load url from future %}

{% block extrastyle %}
  {{ block.super }}
  {#  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />#}
  {% if cl.formset %}
    {#    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />#}
  {% endif %}
  {% if cl.formset or action_form %}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      {#      #changelist table thead th:first-child {width: inherit}#}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ media.js }}
  {% if action_form %}{% if actions_on_top or actions_on_bottom %}
    <script type="text/javascript">
      (function ($) {
        $(document).ready(function ($) {
          $("tr input.action-select").actions();
        });
      })(django.jQuery);
    </script>
  {% endif %}{% endif %}
{% endblock %}


{% block content %}
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        {% include "admin/includes/breadcrumbs_list_form.html" %}

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    {% block messages %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{% firstof message.tags 'success' %} alert-dismissable">
                                    <i class="fa fa-check"></i>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endblock messages %}

                    {% block search %}{% search_form cl %}{% endblock %}
                    <br>
                    <form id="changelist-form" action="" method="post" {% if cl.formset.is_multipart %}enctype="multipart/form-data"{% endif %} class="form-inline">
                    <div class="box box-info">
                        <div class="box-body table-responsive">
                            <div class="dataTables_wrapper form-inline">
                                {% csrf_token %}
                                {% if cl.formset %}
                                    <div>{{ cl.formset.management_form }}</div>
                                {% endif %}
                                {% block result_list %}
                                    {% if cl.result_count %}
                                        {% if action_form and actions_on_top and cl.full_result_count %}
                                            {% admin_actions %}
                                        {% endif %}
                                        {% result_list_with_context cl %}
                                    {% else %}
                                        {% suit_bc_value 1.5 'pop' 1.6 '_popup' as POPUP_VAR %}
                                        <div class="alert alert-block alert-info">
                                            {% if cl.full_result_count %}
                                                <h4>Nenhum resultado encontrado!</h4>
                                                <br>
                                                <a href="?{% if cl.is_popup %}{{ POPUP_VAR }}=1{% endif %}">Limpar buscas e filtros</a>
                                            {% else %}
                                                Nenhum{% blocktrans with cl.opts.verbose_name as name_plural %}
                                                {{ name_plural }} foi criado ainda{% endblocktrans %}.
                                                {% if has_add_permission %}<a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?{{ POPUP_VAR }}=1{% endif %}">
                                                    {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endblock %}


                            </div>
                        <br>
                        {% if action_form and actions_on_bottom and cl.full_result_count %}
                                        {% admin_actions %}{% endif %}
                        </div>
                        <!-- /.box-body -->
                        {% block pagination %}
                            {% if cl.result_count %}
                                {% if action_form and actions_on_bottom and cl.full_result_count %}
                                    <div class="below-actions">
                                {% endif %}
                            {% pagination cl %}
                            {% if action_form and actions_on_bottom and cl.full_result_count %}
                                </div>
                            {% endif %}
                            {% endif %}
                        {% endblock %}
                    </div>
                    </form>
                    <!-- /.box -->
                    {% block object-tools %}
                    {% if has_add_permission %}
                      <div class="object-tools">
                        {% block object-tools-items %}
                          <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="btn btn-success">
                            <i class="glyphicon glyphicon-plus"></i>&nbsp;
                            {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                          </a>
                        {% endblock %}
                      </div>
                    {% endif %}
                  {% endblock %}
                </div>
            </div>
        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">

        //When unchecking the checkbox
        $("input#action-toggle").on('ifUnchecked', function(event) {
            //Uncheck all checkboxes
            $("input[type='checkbox']", ".table").iCheck("uncheck");
        });
        //When checking the checkbox
        $("input#action-toggle").on('ifChecked', function(event) {
            //Check all checkboxes
            $("input[type='checkbox']", ".table").iCheck("check");
        });

    </script>

    <script>
    /**
     * Search filters - submit only changed fields
     */
    $.fn.suit_search_filters = function () {
        $(this).change(function () {
            var $field = $(this);
            var $option = $field.find('option:selected');
            var select_name = $option.data('name');
            if (select_name) {
                $field.attr('name', select_name);
            } else {
                $field.removeAttr('name');
            }
            // Handle additional values for date filters
            var additional = $option.data('additional');
            if (additional) {
                var hidden_id = $field.data('name') + '_add';
                var $hidden = $('#' + hidden_id);
                if (!$hidden.length) {
                    $hidden = $('<input/>').attr('type', 'hidden').attr('id', hidden_id);
                    $field.after($hidden);
                }
                additional = additional.split('=');
                $hidden.attr('name', additional[0]).val(additional[1])
            }
        });
        $(this).trigger('change');
    };
        // Handle change list filter null values
    $('.search-filter').suit_search_filters();

    </script>
{% endblock %}