{% extends "admin/base.html" %}
{% load i18n l10n admin_urls %}

{% block content %}
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        {% block breadcrumbs %}
            <section class="content-header">
                <h1>
                    Tem certeza?
                </h1>

                <ol class="breadcrumb">
                    <li><a href="{% url 'admin:index' %}"><i class="fa fa-dashboard"></i>{% trans 'Home' %}</a>
                    </li>

                    <li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst }}</a>
                    </li>
                    <li>
                        <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst|escape }}</a>
                    </li>
                    <li>
                        <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
                    </li>
                    <li>{% trans 'Delete' %}</li>
                </ol>
            </section>
        {% endblock %}
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-info">
                        <div class="box-body table-responsive">
                            <div class="dataTables_wrapper form-inline">
                                {% if perms_lacking or protected %}
                                    {% if perms_lacking %}
                                        <p>{% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '
                                            {{ escaped_object }}' would result in deleting related objects, but your
                                            account doesn't have permission to delete the following types of
                                            objects:{% endblocktrans %}</p>
                                        <ul>
                                            {% for obj in perms_lacking %}
                                                <li>{{ obj }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    {% if protected %}
                                        <p>{% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '
                                            {{ escaped_object }}' would require deleting the following protected related
                                            objects:{% endblocktrans %}</p>
                                        <ul>
                                            {% for obj in protected %}
                                                <li>{{ obj }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% else %}
                                    <p>{% blocktrans with escaped_object=object %}Tem certeza de que deseja apagar
                                        {{ object_name }} "{{ escaped_object }}"? Todos os seguintes objetos e seus
                                        itens relacionados serão removidos:{% endblocktrans %}</p>
                                    <ul>{{ deleted_objects|unordered_list }}</ul>
                            </div>
                        </div>
                    </div>
                        <form action="" method="post">{% csrf_token %}
                            <div>
                                <input type="hidden" name="post" value="yes"/>
                                <input type="submit" class="btn btn-danger"
                                       value="{% trans "Yes, I'm sure" %}"/>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </section>
    </aside>
{% endblock %}
