{% extends "admin/base_site.html" %}
{% load i18n admin_static build_menu %}

{% block content %}
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- right column -->
                {% if app_list %}
                {% get_menu request as app_list_menu %}
                    <!-- If para verificar a app interna e exibir somente a referente no breadcrumb-->
                    {% if not app_list.1 %}
                        {% for app in app_list_menu %}
                            {% if app_list.0.models.0.admin_url == app.url %}
                                {% for model in app.models %}
                                    <div class="col-lg-3 col-xs-6">
                                        <!-- small box -->
                                        <div class="small-box {% firstof app.color 'bg-teal' %}">
                                            <div class="inner">
                                                <a href="{{ model.url}}"><h3>{{ model.label }}</h3><p>{{ app.label }}</p></a>
                                            </div>
                                            <div class="icon">
                                                <i class="{% firstof app.icon 'icon-chevron-right' %}"></i>
                                            </div>
                                            {% if model.url %}
                                                <a href="{{ model.url}}" class="small-box-footer">
                                                    Gerenciar <i class="fa fa-arrow-circle-right"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div><!-- ./col -->
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    {% for app in app_list_menu %}
                        {% for model in app.models %}
                            <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box {% firstof app.color 'bg-teal' %}">
                                    <div class="inner">
                                        <a href="{{ model.url}}"><h3>{{ model.label }}</h3><p>{{ app.label }}</p></a>
                                    </div>
                                    <div class="icon">
                                        <i class="{% firstof app.icon 'icon-chevron-right' %}"></i>
                                    </div>
                                    {% if model.url %}
                                    <a href="{{ model.url}}" class="small-box-footer">
                                        Gerenciar <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </div><!-- ./col -->
                        {% endfor %}
                    {% endfor %}
                    {% endif %}
                {% else %}
                    <p>{% trans "You don't have permission to edit anything." %}</p>
                {% endif %}
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </aside><!-- /.right-side -->
{% endblock %}


{% block sidebar %}
    <div id="content-related">
        <div class="module" id="recent-actions-module">
            <h4 class="italic-title">{% trans 'My Actions' %}</h4>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
                <p>{% trans 'None available' %}</p>
            {% else %}
                <ul class="actionlist">
                    {% for entry in admin_log %}
                        <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}text-error{% endif %}">
                            <i class="{% if entry.is_addition %}icon-plus{% endif %}{% if entry.is_change %}icon-pencil{% endif %}{% if entry.is_deletion %}icon-trash{% endif %} icon-alpha5"></i>
                            {% spaceless %}
                                {% if entry.is_addition %}{% trans 'added'|capfirst %}{% endif %}
                                {% if entry.is_change %}{% trans 'changed'|capfirst %}{% endif %}
                                {% if entry.is_deletion %}{% trans 'deleted'|capfirst %}{% endif %}
                                {% if entry.content_type %}
                                    <span class="mini quiet">{% filter capfirst %}
                                        {% trans entry.content_type.name %}{% endfilter %}
                                    </span>
                                {% else %}
                                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                                {% endif %}
                            {% endspaceless %}&nbsp;
                            {% if entry.is_deletion or not entry.get_admin_url %}
                                <span class="color-grey">{{ entry.object_repr }}</span>
                            {% else %}
                                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}