<!DOCTYPE html>
<html class="bg-black">
    <head>
        <meta charset="UTF-8">
        <title>Manage-CMS | Acessar</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap 3.0.2 -->
        <link href="{{ MEDIA_URL }}admin/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="{{ MEDIA_URL }}admin/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="{{ MEDIA_URL }}admin/css/AdminLTE.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}admin/css/app.css" rel="stylesheet" type="text/css" />


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="bg-black">
    {% load i18n admin_static %}
        <div class="form-box" id="login-box">
            {% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
            <p class="errornote">
            {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
            </p>
            {% endif %}
            {% if form.non_field_errors or form.this_is_the_login_form.errors %}
            {% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
            <p class="errornote">
                {{ error }}
            </p>
            {% endfor %}
            {% endif %}
            <div class="header">{% trans 'Log in' %}</div>
            <form action="{{ app_path }}" method="post">{% csrf_token %}
                <div class="body bg-gray">
                    <div class="form-group">
                        {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
                        <input type="text" id="id_username" name="username" class="form-control" placeholder="{% trans 'Username' %}"/>
                    </div>
                    <div class="form-group">
                        {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
                        <input type="password" id="id_password" name="password" class="form-control" placeholder="{% trans 'Password' %}"/>
                        <input type="hidden" name="this_is_the_login_form" value="1" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>          
                </div>
                <div class="footer">
                    <button type="submit" class="btn bg-olive btn-block">Entrar</button>
                    {% url 'admin_password_reset' as password_reset_url %}
                    {% if password_reset_url %}
                    <p><a href="{{ password_reset_url }}">Esqueci minha senha</a></p>
                    {% endif %}
{#                    <a href="register.html" class="text-center">Registrar novo membro</a>#}
                </div>
            </form>
{#            <div class="margin text-center">#}
{#                <span>Sign in using social networks</span>#}
{#                <br/>#}
{#                <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>#}
{#                <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>#}
{#                <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>#}
{#            </div>#}
        </div>
        <!-- jQuery 2.0.2 -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="{{ MEDIA_URL }}admin/js/bootstrap.min.js" type="text/javascript"></script>

    </body>
</html>