{% load i18n admin_urls %}
<div class="submit-row">
{% if show_save %}<button type="submit" class="btn btn-success" name="_save" {{ onclick_attrib }}>{% trans 'Save' %}</button>{% endif %}
{% if show_delete_link %}<a class="btn btn-danger" href="{% url opts|admin_urlname:'delete' original.pk|admin_urlquote %}" class="deletelink">{% trans "Delete" %}</a>{% endif %}
{% if show_save_as_new %}<input type="submit" class="btn btn-success" value="{% trans 'Save as new' %}" name="_saveasnew" {{ onclick_attrib }}/>{%endif%}
{% if show_save_and_add_another %}<input type="submit" class="btn btn-primary" value="{% trans 'Save and add another' %}" name="_addanother" {{ onclick_attrib }}/>{% endif %}
{% if show_save_and_continue %}<input type="submit" class="btn btn-default" value="{% trans 'Save and continue editing' %}" name="_continue" {{ onclick_attrib }}/>{% endif %}
</div>
