{% extends "admin/base.html" %}
{% load i18n admin_static %}
{% load admin_urls %}
{% load widget_tweaks %}

{% block content %}
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        {% include "admin/component/../../includes/breadcrumbs_change_form.html" %}

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <i class="fa fa-ban"></i>
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">&times;</button>
                            {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}
                                Please
                                correct the errors below.{% endblocktrans %}
                            {{ adminform.form.non_field_errors }}
                        </div>
                    {% endif %}
                    <form role="form" id="{{ opts.module_name }}_form" action="{{ form_url }}" method="post">
                        {% csrf_token %}{% block form_top %}{% endblock %}
                        <div>
                            {% if is_popup %}<input type="hidden" name="_popup" value="1"/>{% endif %}

                            <div class="box box-info">
                                <div class="box-header">
                                    <h4 class="box-title">{% blocktrans with username=original %}Enter a new password for the user <strong>{{ username }}</strong>.{% endblocktrans %}</h4>
                                </div>
                                <div class="box-body">
                                    <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
                                        <div>
                                        {# TODO: get required class on label_tag #}
                                        <label for="id_password1" class="required">{% trans 'Password' %}:</label>
                                        {{ form.password1|add_class:"form-control"|append_attr:"id:inputError" }}
                                        </div>
                                    </div>

                                    <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
                                        <div>
                                        {# TODO: get required class on label_tag #}
                                        <label for="id_password2" class="required">{% trans 'Password (again)' %}:</label>
                                        {{ form.password2|add_class:"form-control"|append_attr:"id:inputError" }}
                                        </div>
                                    </div>
                                    <p class="help">{% trans 'Enter the same password as above, for verification.' %}</p>
                                </div>
                            </div>
                            <div class="submit-row">
                                <input type="submit" value="{% trans 'Change password' %}" class="btn btn-success"/>
                            </div>

                            <script type="text/javascript">document.getElementById("id_password1").focus();</script>
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
{% endblock %}