{% load widget_tweaks %}
<div class="box box-info">
    <div class="box-header">
        {% if fieldset.name %}<h3 class="box-title">{{ fieldset.name }}</h3>{% endif %}
    </div>

    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}

    <div class="box-body">
        {% for line in fieldset %}
            <div class="form-group{% if line.fields|length_is:'1' and line.errors %} has-error{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
                {% for field in line %}
                    <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} has-error{% endif %}"{% endif %}>
                        {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                        {% if field.is_checkbox %}
                            <div class="checkbox">
                            {{ field.field }}{{ field.label_tag }}
                            </div>
                        {% else %}
                            {{ field.label_tag }}
                            {% if field.is_readonly %}
                                <p>{{ field.contents|linebreaksbr }}</p>
                            {% else %}
                                {{ field.field|add_class:"form-control" }}
                            {% endif %}
                        {% endif %}
                        {% if field.field.help_text %}
                            <p class="help">{{ field.field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
