{% load i18n admin_static admin_modify %}
{% load widget_tweaks %}
<div class="box box-info">
    <div class="inline-group{% if recursive_formset %} {{ recursive_formset.formset.prefix|default:"Root" }}-nested-inline nested-inline{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-group">
        {% with recursive_formset=inline_admin_formset stacked_template='admin/edit_inline/stacked.html' tabular_template='admin/edit_inline/tabular.html'%}
        <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
        {{ recursive_formset.formset.management_form }}
            <fieldset class="module">
                <div class="box-header">
                   <h3 class="box-title">{{ recursive_formset.opts.verbose_name_plural|capfirst }}</h3>
                </div>
                <div class="box-body">
                   {{ recursive_formset.formset.non_form_errors }}
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                            {% for field in recursive_formset.fields %}
                                {% if not field.widget.is_hidden %}
                                     <th{% if forloop.first %} colspan="2"{% endif %}{% if field.required %} class="required"{% endif %}>{{ field.label|capfirst }}
                                         {% if field.help_text %}&nbsp;<img src="{% static "admin/img/icon-unknown.gif" %}" class="help help-tooltip" width="10" height="10" alt="({{ field.help_text|striptags }})" title="{{ field.help_text|striptags }}" />{% endif %}
                                     </th>
                                {% endif %}
                            {% endfor %}
                            {% if recursive_formset.formset.can_delete %}<th>{% trans "Delete?" %}</th>{% endif %}
                            </tr>
                        </thead>

                        <tbody>
                            {% for inline_admin_form in recursive_formset %}
                                {% if inline_admin_form.form.non_field_errors %}
                                <tr>
                                    <td colspan="{{ inline_admin_form|cell_count }}"><div class="control-group error"><div class="help-block">{{ inline_admin_form.form.non_field_errors }}</div></div></td>
                                </tr>
                                {% endif %}
                            <tr class="form-row {% cycle "row1" "row2" as row_number_class %} {% if inline_admin_form.original or inline_admin_form.show_url %}has_original{% endif %}{% if forloop.last %} empty-form{% endif %} {{ recursive_formset.formset.prefix }}-not-nested {% if inline_admin_form.form.nested_formsets %} no-bottom-border {% endif %}"
                                 id="{{ recursive_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">



                            <td class="form-group original">
                            {% if inline_admin_form.original or inline_admin_form.show_url %}
                                <p>
                                {% if inline_admin_form.original %} {{ inline_admin_form.original }}{% endif %}
                                    {% if inline_admin_form.show_url %}<a href="../../../r/{{ inline_admin_form.original_content_type_id }}/{{ inline_admin_form.original.id }}/">{% trans "View on site" %}</a>{% endif %}
                                </p>
                            {% endif %}
                            {% if django_version_lt_1_6 %}
                                {% if inline_admin_form.has_auto_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
                                {% else %}
                                {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
                            {% endif %}
                            {{ inline_admin_form.fk_field.field }}
                            {% spaceless %}
                            {% for fieldset in inline_admin_form %}
                                {% for line in fieldset %}
                                    {% for field in line %}
                                        {% if field.is_hidden %} {{ field.field }} {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                            {% endspaceless %}
                            </td>

                            {% for fieldset in inline_admin_form %}
                                {% for line in fieldset %}
                                    {% for field in line %}
                                        <td{% if field.field.name %} class="form-group field-{{ field.field.name }}{{ field.field.errors|yesno:' control-group has-error,' }}{{ field.field.errors|yesno:' control-group has-error,' }}"{% endif %}>
                                        {% if forloop.parentloop.first %}
                                            {% if inline_admin_form.has_auto_field or inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
                                            {{ inline_admin_form.fk_field.field }}
                                            {% spaceless %}
                                            {% for fieldset in inline_admin_form %}
                                                {% for line in fieldset %}
                                                    {% for field in line %}
                                                        {% if field.is_hidden %} {{ field.field }} {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endfor %}
                                            {% endspaceless %}
                                        {% endif %}

                                        {% block field_content %}
                                            {% if field.is_readonly %}
                                                <p>{{ field.contents }}</p>
                                            {% else %}
                                              {% if field.field.errors %}
                                                <div class="help-block">
                                                    <p class="help-block">{{ field.field.errors.as_text }}</p>
                                                </div>
                                              {% endif %}
                                              {{ field.field|append_attr:"id:inputError" }}
                                            {% endif %}
                                        {% endblock %}
                                        </td>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                            {% if recursive_formset.formset.can_delete %}
                              <td class="delete">{% if inline_admin_form.original %}{{ inline_admin_form.deletion_field.field }}{% endif %}</td>
                            {% endif %}
                            </tr>

                            {% if inline_admin_form.form.nested_formsets %}
                                {% for inline_admin_formset in inline_admin_form.form.nested_formsets %}
                                    <tr class="nested-inline-row {{ row_number_class }}{% if not forloop.last %} no-bottom-border{% endif %}">
                                    <td colspan="{{ inline_admin_form|cell_count }}">
                                {% if inline_admin_formset.opts.template == stacked_template %}
                                    {% include stacked_template with indent=0 prev_prefix=recursive_formset.formset.prefix %}
                                {% else %}
                                    {% include tabular_template with indent=0 prev_prefix=recursive_formset.formset.prefix %}
                                {% endif %}
                                    </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}


                            {% endfor %}
                        </tbody>
                   </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>



<script type="text/javascript">
(function($) {
  $("#{{ recursive_formset.formset.prefix }}-group .tabular.inline-related tbody tr.{{ recursive_formset.formset.prefix }}-not-nested").tabularFormset({
    prefix: "{{ recursive_formset.formset.prefix }}",
    adminStaticPrefix: '{% static "admin/" %}',
    addText: "{% blocktrans with recursive_formset.opts.verbose_name|title as verbose_name %}Add another {{ verbose_name }}{% endblocktrans %}",
    deleteText: "{% trans 'Remove' %}"
  });
})(django.jQuery);
</script>
{% endwith %}