{% extends "componentes/base.html" %}

{% block title %}
    {{ flatpage.title }}
{% endblock %}

{% block content %}
    <section class="mb">
        <div class="row">
            <div class="large-9 medium-9 small-12 columns">

                <section class="contato mb">
                    <div class="titulo-block">
                        <a href="">
                            <h2 class="titulo-block">{{ flatpage.title }}</h2>
                        </a>

                        <div></div>
                    </div>

                   <div class="articleConteudo">
                        <article>
                            <div class="articleTexto">
                                <p>{{ flatpage.content }}</p>
                            </div>
                        </article>
                   </div>


                </section>

            </div>

            {% include 'componentes/sidebar.html' %}
        </div>
    </section>
{% endblock %}